/*
*
* DON'T EDIT,
* if you want to customize design, please create a new file.
*
* Style from Valentin Le Mellay
*
*/
button {
  color: blue; }

button {
  color: blue; }

button {
  color: blue; }

button {
  color: blue; }

button {
  color: blue; }

button {
  color: blue; }

button {
  color: blue; }

button {
  color: blue; }

button {
  color: blue; }

button {
  color: blue; }
