@charset "UTF-8";
/*
*
* DON'T EDIT,
* if you want to customize design, please create a new file.
*
* Style from Valentin Le Mellay
*
* Wanna contact me for a project ?
* --> Feel free to contact me : valentin.lemellay@gmail.com
*
*/
/* COLORS */
/* EFFECTS */
/* Fonts */
/* MIXINS */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* BASICS */
h1 {
  line-height: 1.3;
  font-weight: 900;
}

h2 {
  line-height: 1.2;
  font-weight: 900;
}

h3 {
  line-height: 1.2;
  font-weight: 600;
}

h4 {
  line-height: 1.4;
  font-weight: 800;
}

h5 {
  line-height: 1.3;
  font-weight: 800;
}

h6 {
  line-height: 1.3;
  font-weight: 800;
}

@media screen and (min-width: 1260px) {
  .h1, h1 {
    font-size: 44px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 768px) {
  .h1, h1 {
    font-size: 32px;
  }

  .h2, h2 {
    font-size: 20px;
  }
}
/* NAVS */
.app-header {
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}

/* Navs Responsive */
@media screen and (min-width: 850px) {
  #burger-menu {
    color: black !important;
    top: 21px;
    left: 15px;
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
  }
  #burger-menu.scrolled {
    top: 6px;
    left: 0px;
  }

  .app-header {
    margin: 0px 15px;
    padding: 35px 0;
    margin-top: 15px;
    background-color: white !important;
    color: black !important;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(179, 178, 178, 0.2);
    background-image: url("https://storageprdv2inwink.blob.core.windows.net/d469fa5d-3d3c-ea11-a601-281878303843-public/assets/pictures/logos/logo_vivatech_white.png");
  }
  .app-header.scrolled {
    margin: 0;
  }
  .app-header .app-header-content .pagetitle a img {
    max-height: 50px !important;
  }
  .app-header .app-header-content .links-list .iconlink {
    opacity: 0.9;
    font-weight: 600 !important;
    position: relative;
  }
  .app-header .app-header-content .links-list .iconlink:after {
    content: "";
    position: absolute;
    bottom: -6px;
    width: 0%;
    background-image: linear-gradient(90deg, #f7d700, #ff5900, #f5255d);
    height: 3px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
  }
  .app-header .app-header-content .links-list .iconlink:hover:after {
    width: 100%;
  }
  .app-header .app-header-content .links-list .iconlink:last-child:after {
    display: none;
  }
  .app-header .app-header-content .notif-content .messages {
    color: black !important;
  }
}
/* FOOTER */
/* Footer responsive */
@media screen and (max-width: 1024px) {
  .bloc-footer {
    display: none;
  }
}
/* BUTTONS */
button[type=button], a[role=button] {
  padding: 10px 40px;
  font-weight: 700;
  font-size: 12px;
}

/* Inwink buttons */
.inwink-account:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
}

.inwink-search:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  font-size: 23px;
}

.inwink-email {
  border-width: 2px;
}
.inwink-email:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
}

.explore-btn .buttontitle {
  border: none !important;
}
.explore-btn .buttontitle.inwink-chevronsmall-right {
  border: none !important;
}
.explore-btn .buttontitle.inwink-chevronsmall-right:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-size: 23px;
  font-weight: 300;
}

/* Profile */
#ct-myspace .addcontactrequest {
  color: #1d6ff7;
  background-color: transparent !important;
  border: 2px solid #1d6ff7;
}
#ct-myspace .addcontactrequest .text:after {
  top: 24% !important;
}
#ct-myspace .addcontactrequest:after {
  content: "Connect";
  font-size: 10px;
  font-weight: 500;
  top: 20px;
  position: relative;
}
#ct-myspace .addcontactrequest:hover {
  color: #0a50c4;
  border-color: #0a50c4;
}

/* COMPONENTS */
/* Light Grey Block with Gradient */
.bloctheme-duplicate-lightgreybloc-7 {
  background-image: linear-gradient(180deg, #f7f8fa, #fff) !important;
}

.dynamicbloc-contentwrapper#ct-teaserexhibitors .bloc-content, .dynamicbloc-contentwrapper.bloc-teaserexhibitors .bloc-content {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin-top: 0px;
}
.dynamicbloc-contentwrapper#ct-teaserexhibitors .bloc-content .exhibitor-item, .dynamicbloc-contentwrapper.bloc-teaserexhibitors .bloc-content .exhibitor-item {
  box-shadow: none;
  width: calc(20% - 0px);
  margin: 0 !important;
  padding: 10px;
}
.dynamicbloc-contentwrapper#ct-teaserexhibitors .bloc-content .exhibitor-item:first-child, .dynamicbloc-contentwrapper.bloc-teaserexhibitors .bloc-content .exhibitor-item:first-child {
  padding-left: 0 !important;
}
.dynamicbloc-contentwrapper#ct-teaserexhibitors .bloc-content .exhibitor-item:last-child, .dynamicbloc-contentwrapper.bloc-teaserexhibitors .bloc-content .exhibitor-item:last-child {
  padding-right: 0 !important;
}
.dynamicbloc-contentwrapper#ct-teaserexhibitors .bloc-content .exhibitor-item a.itemcontent, .dynamicbloc-contentwrapper.bloc-teaserexhibitors .bloc-content .exhibitor-item a.itemcontent {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  height: 180px;
  box-shadow: 0 3px 10px rgba(215, 204, 203, 0.34);
  background-color: white;
  display: flex;
}
.dynamicbloc-contentwrapper#ct-teaserexhibitors .bloc-content .exhibitor-item a.itemcontent .logo, .dynamicbloc-contentwrapper.bloc-teaserexhibitors .bloc-content .exhibitor-item a.itemcontent .logo {
  height: 80px !important;
}
.dynamicbloc-contentwrapper#ct-teaserexhibitors .bloc-content .exhibitor-item a.itemcontent .logo .logo-photo, .dynamicbloc-contentwrapper.bloc-teaserexhibitors .bloc-content .exhibitor-item a.itemcontent .logo .logo-photo {
  max-height: 100px !important;
}
.dynamicbloc-contentwrapper#ct-teaserexhibitors .bloc-content .exhibitor-item:hover a.itemcontent, .dynamicbloc-contentwrapper.bloc-teaserexhibitors .bloc-content .exhibitor-item:hover a.itemcontent {
  box-shadow: 0 3px 10px rgba(215, 204, 203, 0.84);
}
.dynamicbloc-contentwrapper.bloc-globalsearch .search-bar input[type=search] {
  font-size: 22px;
  font-weight: 600;
}

/* Partners PAGE */
.exhibitordetailpage .bloc-entitydetail .partner-header {
  display: flex;
}
.exhibitordetailpage .bloc-entitydetail .partner-header span.overlay-partner-header {
  position: absolute;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.87) 50%, rgba(0, 0, 0, 0.2));
  width: 100vw;
  height: 112%;
  left: 50%;
  transform: translatex(-50%);
  top: -16px;
  background-size: cover;
  flex-basis: 100%;
  z-index: -1;
}
.exhibitordetailpage .bloc-entitydetail .partner-header span.background-partner-header {
  position: absolute;
  width: 100vw;
  background-position: center center;
  height: 110%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  z-index: -2;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content {
  flex: 9;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .logo {
  width: 180px;
  height: 180px;
  margin: 0;
  margin-right: 30px;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title .sessiontype-exhibitor {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title .sessiontype-exhibitor > * {
  margin-right: 20px;
  margin-bottom: 0;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title .sessiontype-exhibitor .sociallinks {
  justify-content: flex-start;
  width: fit-content;
  margin-top: 0;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title .sessiontype-exhibitor .sociallinks .sociallink.clickable .icon {
  color: black !important;
  background: white !important;
  width: 26px;
  height: 26px;
  font-size: 16px;
  padding: 0;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title h1 {
  display: none;
  margin-bottom: 30px;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title .tagslist .tag {
  background-image: linear-gradient(135deg, #f7d700, #ff5900, #f5255d);
  color: white;
  font-weight: 800;
  margin-top: 10px;
  margin-right: 10px;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .description {
  max-width: 630px;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .description p.content {
  font-size: 15px;
  font-weight: 500;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .practical-infos .room {
  width: fit-content;
  padding: 3px 32px;
  background: white;
  color: black;
  font-size: 17px;
  border-radius: 4px;
  font-weight: 700;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .practical-infos .room i {
  position: relative;
  left: -16px;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .practical-infos .room i:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .moreinfo-wrapper {
  display: none;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions {
  flex: 2;
  display: flex;
  align-content: center;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions * {
  width: 100%;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions .map .showonmap {
  height: 46px;
  display: flex;
  align-items: center;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions .map .showonmap .title-content {
  text-align: center;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions .map .showonmap .title-content i, .exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions .map .showonmap .title-content p {
  width: fit-content;
  display: inline-block;
  margin-right: 10px;
}

/* RESPONSIVE Partner's page */
@media screen and (max-width: 768px) {
  .exhibitordetailpage .bloc-entitydetail .partner-header {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content {
    align-items: center;
    text-align: center;
  }

  .partner-header .sessiontype-exhibitor.sessiontype-exhibitor {
    flex-direction: column;
  }

  .exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .logo {
    margin-right: 0;
  }

  .exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title .sessiontype-exhibitor > * {
    margin-right: 0;
  }

  .exhibitordetailpage .bloc-teaser .bloc-singletext {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-left: 0 !important;
    padding: 20px 0;
  }
}

/*# sourceMappingURL=vivatechnology.css.map */
