@charset "UTF-8";
/*
*
* DON'T EDIT,
* if you want to customize design, please create a new file.
*
* Style from Valentin Le Mellay
*
* Wanna contact me for a project ?
* --> Feel free to contact me : valentin.lemellay@gmail.com
*
*/
/* COLORS */
/* EFFECTS */
/* Fonts */
/* MIXINS */
/* KEYFRAMES */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* BASICS */
h1 {
  line-height: 1.3;
  font-weight: 900;
}

h2 {
  line-height: 1.2;
  font-weight: 900;
}

h3 {
  line-height: 1.2;
  font-weight: 600;
}

h4 {
  line-height: 1.4;
  font-weight: 800;
}

h5 {
  line-height: 1.3;
  font-weight: 800;
}

h6 {
  line-height: 1.3;
  font-weight: 800;
}

.bloc-footer .dynamicbloc-wrapper-contentblocs {
  padding-top: 17px;
}
.bloc-footer .dynamicbloc-wrapper-contentblocs .description {
  display: none;
}

#appsplash .splash {
  background-color: transparent !important;
  background: linear-gradient(90.88deg, #F3B64B 0%, #EB6231 28.67%, #E63240 64.06%, #80358A 91.51%, #3F4C9A 117.13%);
  background-size: 250% 250%;
  -webkit-animation: gradient 10s ease infinite;
  -moz-animation: gradient 10s ease infinite;
  animation: gradient 10s ease infinite;
}
#appsplash .splash .splashcontent img {
  position: absolute;
}
#appsplash .splash .splashcontent .loaderindicator.ring.big {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#appsplash .splash .splashcontent .loaderindicator.ring.big .spinner {
  width: 150px;
  height: 150px;
  border-width: 10px !important;
  margin: 0;
}
#appsplash .splash:before {
  content: "";
  position: absolute;
  left: -130px;
  height: 140vh;
  width: 500px;
  background: #ffffff52;
  border-right: 4px solid #ffffff36;
  transform: rotate(7deg);
  opacity: 0.1;
  animation: movinglass 15s ease infinite;
  -webkit-animation: movinglass 15s ease infinite;
  -o-animation: movinglass 15s ease infinite;
  -moz-animation: movinglass 15s ease infinite;
}
#appsplash .splash:after {
  content: "";
  position: absolute;
  left: -360px;
  height: 140vh;
  width: 500px;
  background: #ffffff52;
  border-right: 4px solid #ffffff36;
  transform: rotate(7deg);
  opacity: 0.1;
  animation: movinglass2 15s ease infinite;
  -webkit-animation: movinglass2 15s ease infinite;
  -o-animation: movinglass2 15s ease infinite;
  -moz-animation: movinglass2 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes movinglass {
  0% {
    left: -10%;
  }
  25% {
    left: 75%;
  }
  75% {
    left: 120%;
  }
  100% {
    left: -10%;
  }
}
@-moz-keyframes movinglass {
  0% {
    left: -10%;
  }
  25% {
    left: 75%;
  }
  75% {
    left: 120%;
  }
  100% {
    left: -10%;
  }
}
@keyframes movinglass {
  0% {
    left: -10%;
  }
  25% {
    left: 75%;
  }
  75% {
    left: 120%;
  }
  100% {
    left: -10%;
  }
}
@-webkit-keyframes movinglass2 {
  0% {
    left: -20%;
  }
  25% {
    left: 65%;
  }
  75% {
    left: 130%;
  }
  100% {
    left: -20%;
  }
}
@-moz-keyframes movinglass2 {
  0% {
    left: -20%;
  }
  25% {
    left: 65%;
  }
  75% {
    left: 1230%;
  }
  100% {
    left: -20%;
  }
}
@keyframes movinglass2 {
  0% {
    left: -20%;
  }
  25% {
    left: 65%;
  }
  75% {
    left: 130%;
  }
  100% {
    left: -20%;
  }
}
@media screen and (min-width: 1260px) {
  .h1, h1 {
    font-size: 44px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 768px) {
  .h1, h1 {
    font-size: 32px;
  }

  .h2, h2 {
    font-size: 20px;
  }
}
/* NAVS */
.app-header {
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}
.app-header .appheader-action-button .button {
  padding-top: 1px !important;
  margin-right: 8px !important;
}
.app-header .appheader-chat i.icon:before {
  content: "";
  font-family: "Font Awesome 5 Pro" !important;
  font-size: 23px;
  font-weight: normal;
}
.app-header .appheader-notifications i.icon:before {
  content: "";
  font-family: "Font Awesome 5 Pro" !important;
  font-size: 23px;
  font-weight: normal;
}

.myspace-menu-items a i, .myspace-menu-items a .text {
  color: #202020 !important;
}

/* Navs Responsive */
@media screen and (min-width: 850px) {
  #burger-menu {
    color: black !important;
    top: 21px;
    left: 15px;
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
  }
  #burger-menu.scrolled {
    top: 6px;
    left: 0px;
  }

  .app-header {
    margin: 0px 15px;
    padding: 35px 0;
    margin-top: 15px;
    background-color: white !important;
    color: black !important;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(179, 178, 178, 0.2);
    background-image: url("https://storageprdv2inwink.blob.core.windows.net/d469fa5d-3d3c-ea11-a601-281878303843-public/assets/pictures/logos/logo_vivatech_white.png");
  }
  .app-header.scrolled {
    margin: 0;
  }
  .app-header .app-header-content .pagetitle a img {
    max-height: 50px !important;
  }
  .app-header .app-header-content .links-list .iconlink {
    opacity: 0.9;
    font-weight: 600 !important;
    position: relative;
  }
  .app-header .app-header-content .links-list .iconlink:after {
    content: "";
    position: absolute;
    bottom: -6px;
    width: 0%;
    background-image: linear-gradient(90deg, #f7d700, #ff5900, #f5255d);
    height: 3px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
  }
  .app-header .app-header-content .links-list .iconlink:hover:after {
    width: 100%;
  }
  .app-header .app-header-content .links-list .iconlink:last-child:after {
    /*display: none;*/
  }
  .app-header .app-header-content .notif-content .messages {
    color: black !important;
  }
}
/* FOOTER */
/* Footer responsive */
@media screen and (max-width: 1024px) {
  .bloc-footer {
    display: none;
  }
}
/* BUTTONS */
button[type=button], a[role=button] {
  padding: 10px 40px;
  font-weight: 700;
  font-size: 12px;
}

.bloctheme button.checked, .bloctheme input[type=submit].checked, .bloctheme a[role=button].checked {
  border-radius: 0 !important;
}
.bloctheme button.checked i.inwink-bookmark:before, .bloctheme input[type=submit].checked i.inwink-bookmark:before, .bloctheme a[role=button].checked i.inwink-bookmark:before {
  font-weight: bold !important;
}

.sociallink i {
  transition: all 0.1s ease !important;
  -webkit-transition: all 0.1s ease !important;
  -moz-transition: all 0.1s ease !important;
  -o-transition: all 0.1s ease !important;
}

.sociallink.clickable:hover i {
  color: #f5255d !important;
}

/* Inwink buttons */
.inwink-account:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: normal;
}

.inwink-search:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: normal;
  font-size: 23px;
}

.inwink-email {
  border-width: 2px;
}
.inwink-email:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
}

.inwink-chat:before {
  content: "";
  font-family: "Font Awesome 5 Pro" !important;
  font-size: 23px;
  font-weight: normal;
}

.inwink-bell:before {
  content: "";
  font-family: "Font Awesome 5 Pro" !important;
  font-size: 23px;
  font-weight: normal;
}

.inwink-group:before {
  content: "";
  font-family: "Font Awesome 5 Pro" !important;
}

.inwink-meeting:before {
  content: "";
}

.has-button a[role=button]:after {
  content: " more";
}
.has-button a[role=button].opened:after {
  content: " less";
}

#bl-7115dddf-3799-43f0-957a-28ce816aa58f .keywordbubble {
  background: #f5255d !important;
  color: white !important;
  font-weight: 600;
}

/* Modal Components */
.appusermessage-header .actions button {
  border: 2px solid #1d6ff7 !important;
}
.appusermessage-header .actions button i:before {
  font-weight: 800 !important;
}

.dynamicbloc-wrapper .bloc-actions a[role=button].no-link {
  pointer-events: auto !important;
}

.explore-btn .buttontitle {
  border: none !important;
}
.explore-btn .buttontitle.inwink-chevronsmall-right {
  border: none !important;
}
.explore-btn .buttontitle.inwink-chevronsmall-right:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-size: 23px;
  font-weight: 300;
}

/* Innovations */
.inno-ctas a {
  margin-right: 10px;
  padding: 5px 15px;
  border-radius: 4px;
}

/* Profile */
#ct-myspace .addcontactrequest {
  color: #1d6ff7;
  background-color: transparent !important;
  border: 2px solid #1d6ff7;
}
#ct-myspace .addcontactrequest .text:after {
  top: 24% !important;
}
#ct-myspace .addcontactrequest:after {
  content: "Connect";
  font-size: 10px;
  font-weight: 500;
  top: 20px;
  position: relative;
}
#ct-myspace .addcontactrequest:hover {
  color: #0a50c4;
  border-color: #0a50c4;
}

@media screen and (max-width: 768px) {
  .bloc-actions button, .bloc-actions a[role=button] {
    max-width: 380px;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
/* COMPONENTS */
/* Inwink items & cards */
inwink-items, .inwink-items .inwink-item {
  border-radius: 5px !important;
  overflow: hidden !important;
}
inwink-items .content-wrapper, .inwink-items .inwink-item .content-wrapper {
  max-width: 100%;
}
inwink-items .content-wrapper.content-wrapper > *, .inwink-items .inwink-item .content-wrapper.content-wrapper > * {
  flex: 1;
  min-width: 0;
  text-overflow: ellipsis;
  max-width: 100%;
}
inwink-items .content-wrapper.content-wrapper > * *, .inwink-items .inwink-item .content-wrapper.content-wrapper > * * {
  max-width: 100%;
  text-overflow: ellipsis !important;
}

.inwink-items .inwink-item .card .requestmeeting {
  display: none;
}

.inwink-item.clickable, contact-item.clickable, .entitylist .inwink-item, .app-page:not(.exhibitordetailpage):not(.sessiondetailpage) .itemslist.bloc-teaserexhibitors .inwink-item {
  box-shadow: 0 3px 10px rgba(215, 204, 203, 0.34) !important;
  transition: all 0.1s ease !important;
  -webkit-transition: all 0.1s ease !important;
  -moz-transition: all 0.1s ease !important;
  -o-transition: all 0.1s ease !important;
}
.inwink-item.clickable:hover, contact-item.clickable:hover, .entitylist .inwink-item:hover, .app-page:not(.exhibitordetailpage):not(.sessiondetailpage) .itemslist.bloc-teaserexhibitors .inwink-item:hover {
  box-shadow: 0 3px 10px rgba(215, 204, 203, 0.84) !important;
}

/* Items list */
.itemslist button.asyncbtn.requestmeeting {
  display: none;
}

/* Light Grey Block with Gradient */
.bloctheme-duplicate-lightgreybloc-7 {
  background-image: linear-gradient(180deg, #f7f8fa, #fff) !important;
}

/* Primary bloc Color with Gradient Big Blue */
.bloctheme-duplicate-primarycolorbloc-6 {
  background-image: linear-gradient(90.88deg, #F3B64B 0%, #EB6231 28.67%, #E63240 64.06%, #80358A 91.51%, #3F4C9A 117.13%) !important;
}

.homepage .dynamicbloc-contentwrapper#ct-teaserexhibitors .bloc-content .exhibitor-item, .homepage .dynamicbloc-contentwrapper.bloc-teaserexhibitors .bloc-content .exhibitor-item {
  width: calc(20% - 0px);
}

.dynamicbloc-contentwrapper:not(#ct-e352c39c-02d4-4062-fc86-474d372210e1)#ct-teaserexhibitors .bloc-content, .dynamicbloc-contentwrapper:not(#ct-e352c39c-02d4-4062-fc86-474d372210e1).bloc-teaserexhibitors .bloc-content {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin-top: 0px;
}
.dynamicbloc-contentwrapper:not(#ct-e352c39c-02d4-4062-fc86-474d372210e1)#ct-teaserexhibitors .bloc-content .exhibitor-item, .dynamicbloc-contentwrapper:not(#ct-e352c39c-02d4-4062-fc86-474d372210e1).bloc-teaserexhibitors .bloc-content .exhibitor-item {
  box-shadow: none;
  margin: 0 !important;
  padding: 10px;
  overflow: visible !important;
}
.dynamicbloc-contentwrapper:not(#ct-e352c39c-02d4-4062-fc86-474d372210e1)#ct-teaserexhibitors .bloc-content .exhibitor-item:first-child, .dynamicbloc-contentwrapper:not(#ct-e352c39c-02d4-4062-fc86-474d372210e1).bloc-teaserexhibitors .bloc-content .exhibitor-item:first-child {
  padding-left: 0 !important;
}
.dynamicbloc-contentwrapper:not(#ct-e352c39c-02d4-4062-fc86-474d372210e1)#ct-teaserexhibitors .bloc-content .exhibitor-item:last-child, .dynamicbloc-contentwrapper:not(#ct-e352c39c-02d4-4062-fc86-474d372210e1).bloc-teaserexhibitors .bloc-content .exhibitor-item:last-child {
  padding-right: 0 !important;
}
.dynamicbloc-contentwrapper:not(#ct-e352c39c-02d4-4062-fc86-474d372210e1)#ct-teaserexhibitors .bloc-content .exhibitor-item a.itemcontent, .dynamicbloc-contentwrapper:not(#ct-e352c39c-02d4-4062-fc86-474d372210e1).bloc-teaserexhibitors .bloc-content .exhibitor-item a.itemcontent {
  transition: all 0.2s ease !important;
  -webkit-transition: all 0.2s ease !important;
  -moz-transition: all 0.2s ease !important;
  -o-transition: all 0.2s ease !important;
  height: 180px;
  box-shadow: 0 3px 10px rgba(215, 204, 203, 0.34);
  background-color: white;
  display: flex;
}
.dynamicbloc-contentwrapper:not(#ct-e352c39c-02d4-4062-fc86-474d372210e1)#ct-teaserexhibitors .bloc-content .exhibitor-item a.itemcontent .logo, .dynamicbloc-contentwrapper:not(#ct-e352c39c-02d4-4062-fc86-474d372210e1).bloc-teaserexhibitors .bloc-content .exhibitor-item a.itemcontent .logo {
  height: 80px !important;
}
.dynamicbloc-contentwrapper:not(#ct-e352c39c-02d4-4062-fc86-474d372210e1)#ct-teaserexhibitors .bloc-content .exhibitor-item a.itemcontent .logo .logo-photo, .dynamicbloc-contentwrapper:not(#ct-e352c39c-02d4-4062-fc86-474d372210e1).bloc-teaserexhibitors .bloc-content .exhibitor-item a.itemcontent .logo .logo-photo {
  max-height: 100px !important;
}
.dynamicbloc-contentwrapper:not(#ct-e352c39c-02d4-4062-fc86-474d372210e1)#ct-teaserexhibitors .bloc-content .exhibitor-item:hover a.itemcontent, .dynamicbloc-contentwrapper:not(#ct-e352c39c-02d4-4062-fc86-474d372210e1).bloc-teaserexhibitors .bloc-content .exhibitor-item:hover a.itemcontent {
  box-shadow: 0 3px 10px rgba(215, 204, 203, 0.84) !important;
}
.dynamicbloc-contentwrapper:not(#ct-e352c39c-02d4-4062-fc86-474d372210e1).bloc-globalsearch .search-bar input[type=search] {
  font-size: 22px;
  font-weight: 600;
}

.bloctheme:not(.bloc-footer) .bloc-teasereventinfos {
  text-align: center;
}
.bloctheme:not(.bloc-footer) .bloc-teasereventinfos .inwink-item {
  flex-direction: column;
  box-shadow: 0 3px 10px rgba(215, 204, 203, 0.34) !important;
  background-color: white;
}
.bloctheme:not(.bloc-footer) .bloc-teasereventinfos .inwink-item .detail {
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-top: 21px;
  margin-bottom: 16px;
}
.bloctheme:not(.bloc-footer) .bloc-teasereventinfos .inwink-item .detail h4 {
  font-size: 20px;
  text-transform: uppercase;
}
.bloctheme:not(.bloc-footer) .bloc-teasereventinfos .inwink-item:before {
  color: #f5255d !important;
  text-transform: lowercase !important;
  font-size: 14px !important;
  position: absolute !important;
  top: 9px !important;
  display: block;
  width: 100%;
  margin: auto;
}
.bloctheme:not(.bloc-footer) .bloc-teasereventinfos .inwink-item:hover {
  box-shadow: 0 3px 10px rgba(215, 204, 203, 0.84) !important;
}
.bloctheme:not(.bloc-footer) .picturegalleryitem {
  box-shadow: 0 3px 10px rgba(215, 204, 203, 0.34);
}
.bloctheme:not(.bloc-footer) .picturegalleryitem .player {
  width: 55px !important;
  height: 55px !important;
  box-shadow: none !important;
  z-index: 1;
  opacity: 1 !important;
  background: #000000b0 !important;
}
.bloctheme:not(.bloc-footer) .picturegalleryitem .player i::before {
  content: "" !important;
  color: white !important;
  font-family: "Font Awesome 5 Pro";
  font-weight: bold;
  font-size: 60px;
  text-shadow: 0px 0px 8px #00000024;
}
.bloctheme:not(.bloc-footer) .picturegalleryitem .title-layer {
  background: #0000004f !important;
  font-weight: 600;
  font-size: 18px;
}
.bloctheme:not(.bloc-footer) .picturegalleryitem .title-layer span {
  position: absolute;
  bottom: 5px;
}

.blocpicturegaleryfull .blocpicturegaleryfull-wrapper button {
  background: transparent !important;
  border: none !important;
}
.blocpicturegaleryfull .blocpicturegaleryfull-wrapper .blocpicturegaleryfull-close i::before {
  content: "" !important;
  font-family: "Font Awesome 5 Pro";
  font-weight: bold;
  font-size: 35px;
  position: relative;
  right: 20px;
  transform: rotate(90deg);
}
.blocpicturegaleryfull .blocpicturegaleryfull-wrapper .blocpicturegaleryfull-content .description-panel h2 {
  color: white !important;
  font-size: 35px;
}
.blocpicturegaleryfull .blocpicturegaleryfull-wrapper .blocpicturegaleryfull-content .description-panel .description {
  font-size: 16px;
}
.blocpicturegaleryfull .blocpicturegaleryfull-wrapper .blocpicturegaleryfull-content .btnnav {
  background: transparent !important;
  border: none !important;
}
/* RESPONSIVE COMPONENT*/
@media screen and (min-width: 601px) {
  .exhibitordetailpage .dynamicbloc-contentwrapper {
    margin-top: 0 !important;
    margin-bottom: 30px !important;
  }
}
/* Partners PAGE */
.exhibitordetailpage, .sessiondetailpage {
  /* Partner's Header */
}
.exhibitordetailpage .bloc-entitydetail .logo, .sessiondetailpage .bloc-entitydetail .logo {
  width: 180px;
  height: 180px;
  margin: 0;
  margin-right: 30px;
}
.exhibitordetailpage .bloc-entitydetail .partner-header:not(.startup-header):not(.innovation-header) .wrapper.wrapper-content > .title .sessiontype-exhibitor .tagslist .tag:before, .sessiondetailpage .bloc-entitydetail .partner-header:not(.startup-header):not(.innovation-header) .wrapper.wrapper-content > .title .sessiontype-exhibitor .tagslist .tag:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  margin-right: 5px;
}
.exhibitordetailpage .bloc-entitydetail .partner-header, .sessiondetailpage .bloc-entitydetail .partner-header {
  display: flex;
}
.exhibitordetailpage .bloc-entitydetail .partner-header span.overlay-partner-header, .sessiondetailpage .bloc-entitydetail .partner-header span.overlay-partner-header {
  position: absolute;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.87) 33%, rgba(0, 0, 0, 0.7) 66%, rgba(0, 0, 0, 0.2));
  width: 102vw;
  height: 112%;
  left: 50%;
  transform: translatex(-50%);
  top: -16px;
  background-size: cover;
  flex-basis: 100%;
  z-index: -1;
}
.exhibitordetailpage .bloc-entitydetail .partner-header span.background-partner-header, .sessiondetailpage .bloc-entitydetail .partner-header span.background-partner-header {
  position: absolute;
  width: 100vw;
  background-position: center center;
  height: 110%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  z-index: -2;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .tagslist.day, .sessiondetailpage .bloc-entitydetail .partner-header .tagslist.day {
  margin-bottom: 0 !important;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .tagslist.day .tag.keywordbubble.clickable, .sessiondetailpage .bloc-entitydetail .partner-header .tagslist.day .tag.keywordbubble.clickable {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  color: white;
  width: 40px;
  height: 50px;
  border-radius: 0;
  padding: 0;
  padding-top: 13px;
  margin-right: 12px;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  background-image: url("https://storageprdv2inwink.blob.core.windows.net/d469fa5d-3d3c-ea11-a601-281878303843-public/assets/pictures/Vector.png");
}
.exhibitordetailpage .bloc-entitydetail .partner-header .tagslist.day .tag.keywordbubble.clickable:after, .sessiondetailpage .bloc-entitydetail .partner-header .tagslist.day .tag.keywordbubble.clickable:after {
  content: "";
  display: block;
  font-size: 20px;
  position: relative;
  top: -9px;
  font-weight: bold;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .tagslist.day .tag.keywordbubble.clickable.day-Wed:after, .sessiondetailpage .bloc-entitydetail .partner-header .tagslist.day .tag.keywordbubble.clickable.day-Wed:after {
  content: "16";
}
.exhibitordetailpage .bloc-entitydetail .partner-header .tagslist.day .tag.keywordbubble.clickable.day-Thu:after, .sessiondetailpage .bloc-entitydetail .partner-header .tagslist.day .tag.keywordbubble.clickable.day-Thu:after {
  content: "17";
}
.exhibitordetailpage .bloc-entitydetail .partner-header .tagslist.day .tag.keywordbubble.clickable.day-Fri:after, .sessiondetailpage .bloc-entitydetail .partner-header .tagslist.day .tag.keywordbubble.clickable.day-Fri:after {
  content: "18";
}
.exhibitordetailpage .bloc-entitydetail .partner-header .tagslist.day .tag.keywordbubble.clickable.day-Sat:after, .sessiondetailpage .bloc-entitydetail .partner-header .tagslist.day .tag.keywordbubble.clickable.day-Sat:after {
  content: "19";
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 40px;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content {
  flex: 9;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content > .title .sessiontype-exhibitor .tagslist, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content > .title .sessiontype-exhibitor .tagslist {
  padding-top: 5px;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content > .title .sessiontype-exhibitor .tagslist .tag, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content > .title .sessiontype-exhibitor .tagslist .tag {
  /*background-image:$gradient;
  color: white;
  font-weight: 800;
  margin-top: 10px;
  margin-right: 10px;*/
  background: transparent;
  color: white;
  padding-left: 0;
  padding-bottom: 0;
  font-size: 17px;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title .sessiontype-exhibitor, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title .sessiontype-exhibitor {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title .sessiontype-exhibitor > *, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title .sessiontype-exhibitor > * {
  margin-right: 20px;
  margin-bottom: 0;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title .sessiontype-exhibitor .sociallinks, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title .sessiontype-exhibitor .sociallinks {
  justify-content: flex-start;
  width: fit-content;
  margin-top: 0;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title .sessiontype-exhibitor .sociallinks .sociallink:first-child, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title .sessiontype-exhibitor .sociallinks .sociallink:first-child {
  display: none;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title .sessiontype-exhibitor .sociallinks .sociallink.clickable .icon, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title .sessiontype-exhibitor .sociallinks .sociallink.clickable .icon {
  color: black !important;
  background: white !important;
  width: 26px;
  height: 26px;
  font-size: 16px;
  padding: 0;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title .sessiontype-exhibitor .sociallinks .sociallink.clickable:hover i, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title .sessiontype-exhibitor .sociallinks .sociallink.clickable:hover i {
  color: #f5255d !important;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title h1, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title h1 {
  display: none;
  margin-bottom: 30px;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .description, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .description {
  max-width: 630px;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .description p.content, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .description p.content {
  font-size: 15px;
  font-weight: 500;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .practical-infos, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .practical-infos {
  display: inline-flex;
  align-items: center;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .practical-infos .room, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .practical-infos .room {
  width: fit-content;
  height: fit-content;
  margin-right: 10px;
  padding: 3px 32px;
  background: white;
  color: black;
  font-size: 17px;
  border-radius: 4px;
  font-weight: 700;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .practical-infos .room i, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .practical-infos .room i {
  position: relative;
  left: -16px;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .practical-infos .room i:before, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .practical-infos .room i:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .moreinfo-wrapper, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .moreinfo-wrapper {
  display: none;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions {
  flex: 2;
  display: flex;
  align-content: center;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions .entity-actions, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions .entity-actions {
  margin-bottom: 0px !important;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions *:not(.spinner), .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions *:not(.spinner) {
  width: 100%;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions button, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions button {
  margin-bottom: 10px;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions button .text, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions button .text {
  display: flex;
  align-items: center;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions button .text i, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions button .text i {
  flex: 1;
  font-family: "Font Awesome 5 Pro" !important;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions button .text i.inwink-bookmark:before, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions button .text i.inwink-bookmark:before {
  content: "";
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions button .text i.inwink-calendar:before, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions button .text i.inwink-calendar:before {
  content: "";
  font-size: 16px;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions button .text i.inwink-chat:before, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions button .text i.inwink-chat:before {
  content: "";
  font-size: 16px;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions .map .showonmap, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions .map .showonmap {
  height: 42px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions .map .showonmap .title-content, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions .map .showonmap .title-content {
  text-align: center;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions .map .showonmap .title-content i, .exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions .map .showonmap .title-content p, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions .map .showonmap .title-content i, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-actions .map .showonmap .title-content p {
  width: fit-content;
  display: inline-block;
  margin-right: 10px;
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper .partner-themes .tagslist-items .tag, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper .partner-themes .tagslist-items .tag {
  background-image: linear-gradient(135deg, #f7d700, #ff5900, #f5255d);
  color: white;
  font-weight: 800;
  margin-top: 10px;
  margin-right: 10px;
  /*color: $white;
  font-weight: 800;
  margin-top: 10px;
  background: transparent;
  font-size: 15px;
  padding-left: 0;
  margin-right: 10px;*/
}
.exhibitordetailpage .bloc-entitydetail .partner-header .wrapper .partner-themes .tagslist-items .tag:before, .sessiondetailpage .bloc-entitydetail .partner-header .wrapper .partner-themes .tagslist-items .tag:before {
  content: "#";
  font-weight: 500;
}
.exhibitordetailpage .bloc-entitydetail .partner-header:not(.innovation-header):not(.startup-header) .wrapper.wrapper-content .title .sessiontype-exhibitor .sociallinks .sociallink.clickable .icon, .sessiondetailpage .bloc-entitydetail .partner-header:not(.innovation-header):not(.startup-header) .wrapper.wrapper-content .title .sessiontype-exhibitor .sociallinks .sociallink.clickable .icon {
  color: white !important;
  background: transparent !important;
}
.exhibitordetailpage .bloc-entitydetail .partner-header:not(.innovation-header):not(.startup-header) .wrapper.wrapper-content .title .sessiontype-exhibitor .sociallinks .sociallink.clickable:hover .icon, .sessiondetailpage .bloc-entitydetail .partner-header:not(.innovation-header):not(.startup-header) .wrapper.wrapper-content .title .sessiontype-exhibitor .sociallinks .sociallink.clickable:hover .icon {
  color: #f5255d !important;
}
.exhibitordetailpage .bloc-entitydetail .innovation-header, .sessiondetailpage .bloc-entitydetail .innovation-header {
  align-items: center;
}
.exhibitordetailpage .bloc-entitydetail .innovation-header .sessiontype-exhibitor, .sessiondetailpage .bloc-entitydetail .innovation-header .sessiontype-exhibitor {
  padding-top: 0 !important;
}
.exhibitordetailpage .bloc-entitydetail .innovation-header .sessiontype-exhibitor .date, .sessiondetailpage .bloc-entitydetail .innovation-header .sessiontype-exhibitor .date {
  padding-top: 30px;
  padding-bottom: 30px;
}
.exhibitordetailpage .bloc-entitydetail .innovation-header .wrapper.wrapper-content .title h1, .sessiondetailpage .bloc-entitydetail .innovation-header .wrapper.wrapper-content .title h1 {
  display: block;
  font-size: 40px;
  color: black;
  margin-bottom: 0 !important;
  margin-top: 50px;
}
.exhibitordetailpage .bloc-entitydetail .innovation-header .logo, .sessiondetailpage .bloc-entitydetail .innovation-header .logo {
  flex: 1 !important;
  height: 255px !important;
  overflow: visible;
  margin-top: 30px;
}
.exhibitordetailpage .bloc-entitydetail .innovation-header .logo:after, .sessiondetailpage .bloc-entitydetail .innovation-header .logo:after {
  /*content: "";
  width: 130px;
  height: 179px;
  position: absolute;
  top: 150px;
  right: 64px;
  background: $gradient;
  z-index: -1;*/
}
.exhibitordetailpage .bloc-entitydetail .innovation-header .logo .logo-photo, .sessiondetailpage .bloc-entitydetail .innovation-header .logo .logo-photo {
  max-width: 385px;
  background-size: cover;
  position: relative !important;
  box-shadow: 0 3px 10px rgba(215, 204, 203, 0.34);
  border: 10px solid;
  border-image-source: linear-gradient(90.88deg, #F3B64B 0%, #EB6231 28.67%, #E63240 64.06%, #80358A 91.51%, #3F4C9A 117.13%);
  border-image-slice: 1;
}
.exhibitordetailpage .bloc-entitydetail .innovation-header .partner-themes .tagslist-items, .sessiondetailpage .bloc-entitydetail .innovation-header .partner-themes .tagslist-items {
  display: flex !important;
}
.exhibitordetailpage .bloc-entitydetail .innovation-header .wrapper-content, .sessiondetailpage .bloc-entitydetail .innovation-header .wrapper-content {
  flex: 1 !important;
}
.exhibitordetailpage .bloc-entitydetail .innovation-header .wrapper-content .practical-infos .room, .sessiondetailpage .bloc-entitydetail .innovation-header .wrapper-content .practical-infos .room {
  width: fit-content;
  margin-right: 10px;
  padding: 3px 24px;
  background: #f7f8fa !important;
  box-shadow: 0 3px 10px rgba(215, 204, 203, 0.34);
  font-size: 17px;
  border-radius: 4px;
  font-weight: 700;
}
.exhibitordetailpage .bloc-entitydetail .innovation-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable, .sessiondetailpage .bloc-entitydetail .innovation-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  color: black;
  width: 40px;
  height: 50px;
  border-radius: 0;
  padding: 0;
  padding-top: 13px;
  margin-right: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  background-image: url("https://storageprdv2inwink.blob.core.windows.net/d469fa5d-3d3c-ea11-a601-281878303843-public/assets/pictures/Vectorwed_black.png");
}
.exhibitordetailpage .bloc-entitydetail .innovation-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable:after, .sessiondetailpage .bloc-entitydetail .innovation-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable:after {
  content: "";
  display: block;
  font-size: 20px;
  position: relative;
  top: -9px;
  font-weight: bold;
}
.exhibitordetailpage .bloc-entitydetail .innovation-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable.day-Wed:after, .sessiondetailpage .bloc-entitydetail .innovation-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable.day-Wed:after {
  content: "16";
}
.exhibitordetailpage .bloc-entitydetail .innovation-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable.day-Thu:after, .sessiondetailpage .bloc-entitydetail .innovation-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable.day-Thu:after {
  content: "17";
}
.exhibitordetailpage .bloc-entitydetail .innovation-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable.day-Fri:after, .sessiondetailpage .bloc-entitydetail .innovation-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable.day-Fri:after {
  content: "18";
}
.exhibitordetailpage .bloc-entitydetail .innovation-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable.day-Sat:after, .sessiondetailpage .bloc-entitydetail .innovation-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable.day-Sat:after {
  content: "19";
}
.exhibitordetailpage .bloc-entitydetail .innovation-header .wrapper-actions, .sessiondetailpage .bloc-entitydetail .innovation-header .wrapper-actions {
  flex: 1 !important;
}
.exhibitordetailpage .bloc-entitydetail .startup-header .logo, .sessiondetailpage .bloc-entitydetail .startup-header .logo {
  flex: 2 !important;
  height: 210px !important;
}
.exhibitordetailpage .bloc-entitydetail .startup-header .sociallinks .sociallink:first-child, .sessiondetailpage .bloc-entitydetail .startup-header .sociallinks .sociallink:first-child {
  display: none;
}
.exhibitordetailpage .bloc-entitydetail .startup-header .wrapper-content, .sessiondetailpage .bloc-entitydetail .startup-header .wrapper-content {
  flex: 1 !important;
}
.exhibitordetailpage .bloc-entitydetail .startup-header .wrapper-content .practical-infos .room, .sessiondetailpage .bloc-entitydetail .startup-header .wrapper-content .practical-infos .room {
  width: fit-content;
  margin-right: 10px;
  padding: 3px 24px;
  background: #f7f8fa !important;
  box-shadow: 0 3px 10px rgba(215, 204, 203, 0.34);
  font-size: 17px;
  border-radius: 4px;
  font-weight: 700;
}
.exhibitordetailpage .bloc-entitydetail .startup-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable, .sessiondetailpage .bloc-entitydetail .startup-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  color: black;
  width: 40px;
  height: 50px;
  border-radius: 0;
  padding: 0;
  padding-top: 13px;
  margin-right: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  background-image: url("https://storageprdv2inwink.blob.core.windows.net/d469fa5d-3d3c-ea11-a601-281878303843-public/assets/pictures/Vectorwed_black.png");
}
.exhibitordetailpage .bloc-entitydetail .startup-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable:after, .sessiondetailpage .bloc-entitydetail .startup-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable:after {
  content: "";
  display: block;
  font-size: 20px;
  position: relative;
  top: -9px;
  font-weight: bold;
}
.exhibitordetailpage .bloc-entitydetail .startup-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable.day-Wed:after, .sessiondetailpage .bloc-entitydetail .startup-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable.day-Wed:after {
  content: "16";
}
.exhibitordetailpage .bloc-entitydetail .startup-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable.day-Thu:after, .sessiondetailpage .bloc-entitydetail .startup-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable.day-Thu:after {
  content: "17";
}
.exhibitordetailpage .bloc-entitydetail .startup-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable.day-Fri:after, .sessiondetailpage .bloc-entitydetail .startup-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable.day-Fri:after {
  content: "18";
}
.exhibitordetailpage .bloc-entitydetail .startup-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable.day-Sat:after, .sessiondetailpage .bloc-entitydetail .startup-header .wrapper-content .sessiontype-exhibitor .sessionslot .sessiondate .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable.day-Sat:after {
  content: "19";
}
.exhibitordetailpage .bloc-entitydetail .startup-header .wrapper-actions, .sessiondetailpage .bloc-entitydetail .startup-header .wrapper-actions {
  flex: 1 !important;
}
.exhibitordetailpage .bloctheme:not(.bloc-footer) header.bloc-header, .sessiondetailpage .bloctheme:not(.bloc-footer) header.bloc-header {
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative;
  width: fit-content;
}
.exhibitordetailpage .bloctheme:not(.bloc-footer) header.bloc-header:after, .sessiondetailpage .bloctheme:not(.bloc-footer) header.bloc-header:after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  height: 2px;
  width: 100px;
  background-image: linear-gradient(135deg, #F7D700, #FF5900, #F5255D);
}
.exhibitordetailpage .bloctheme:not(.bloc-footer) header.bloc-header h2.bloc-title .bloc-accent, .sessiondetailpage .bloctheme:not(.bloc-footer) header.bloc-header h2.bloc-title .bloc-accent {
  font-size: 18px;
  font-weight: 500;
}
.exhibitordetailpage .bloctheme:not(.bloc-footer) header.bloc-header h2.bloc-title .bloctitle, .sessiondetailpage .bloctheme:not(.bloc-footer) header.bloc-header h2.bloc-title .bloctitle {
  text-transform: uppercase;
  font-size: 29px;
  color: #202020 !important;
  border: none !important;
  padding-bottom: 0 !important;
}
.exhibitordetailpage .bloctheme:not(.bloc-footer) header.bloc-header .description, .sessiondetailpage .bloctheme:not(.bloc-footer) header.bloc-header .description {
  color: black !important;
  opacity: 0.4;
  font-weight: 500;
  font-size: 17px;
  margin-top: 0px !important;
}

/* LISTS PARTNERS */
@media screen and (min-width: 601px) {
  .entitylistpage #ct-exhibitorsearch .bloc-header,
.entitylistpage #ct-70d18f07-9243-4dd5-f38c-fbd7e750c611 .bloc-header,
.entitylistpage #ct-sessionssearch .bloc-header,
.entitylistpage #ct-speakersearch .bloc-header,
.entitylistpage #ct-d7d9fefa-2e38-4382-902d-9b1e8a859fce .bloc-header {
    height: fit-content;
    padding: 10px;
    background: white;
    box-shadow: 0 3px 10px rgba(215, 204, 203, 0.34);
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
  }

  .entitylistpage .dynamicbloc-wrapper .dynamicbloc-contentwrapper.entitylist {
    overflow: visible !important;
    margin-top: 0 !important;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }

  .entitylistpage .dynamicbloc-wrapper {
    overflow: visible !important;
  }
}
/* RESPONSIVE Partner's page */
@media screen and (min-width: 601px) {
  .innovation-header .wrapper-actions .entity-actions {
    padding-left: 100px;
  }
}
@media screen and (max-width: 601px) {
  .exhibitordetailpage .bloc-entitydetail .logo {
    margin: auto !important;
  }

  .exhibitordetailpage .bloc-entitydetail .partner-themes .title {
    align-self: center !important;
  }
  .exhibitordetailpage .bloc-entitydetail .partner-themes .description {
    text-align: center !important;
  }
  .exhibitordetailpage .bloc-entitydetail .partner-themes .partner-themes {
    align-self: center !important;
  }

  .exhibitordetailpage .bloc-entitydetail .partner-header .practical-infos {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .exhibitordetailpage .bloc-entitydetail .partner-header .practical-infos .room {
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 768px) {
  .exhibitordetailpage .bloc-entitydetail .partner-header {
    display: flex;
    flex-direction: column;
  }

  .exhibitordetailpage .bloc-entitydetail .innovation-header .logo {
    width: 380px !important;
  }
}
@media screen and (max-width: 480px) {
  .exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content {
    align-items: center;
    text-align: center;
  }

  .partner-header .sessiontype-exhibitor.sessiontype-exhibitor {
    flex-direction: column;
  }

  .exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .logo {
    margin-right: 0;
  }

  .exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title .sessiontype-exhibitor > * {
    margin-right: 0;
  }

  .exhibitordetailpage .bloc-teaser .bloc-singletext {
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
    flex-direction: column !important;
    padding-left: 0 !important;
    padding: 20px 0 !important;
  }
}
.sessiondetailpage .keywordbubble {
  background-color: #f5255d !important;
  color: #ffffff !important;
  font-weight: 700;
  border-radius: 0;
  padding: 0;
  margin: 0;
  text-transform: normal;
  font-size: 12px;
  vertical-align: middle;
  box-shadow: none;
  padding: 5px 9px;
  border-radius: 2px;
  font-style: normal;
  overflow: visible;
  margin-right: 5px;
  margin-bottom: 4px;
}
.sessiondetailpage .sessionslot .sessiondate div i::after {
  font-weight: 300;
  font-style: normal;
  font-family: "Font Awesome 5 Pro" !important;
}
.sessiondetailpage .sessionslot .sessiondate div.date i::after {
  content: "";
}
.sessiondetailpage .sessionslot .sessiondate div.hour i::after {
  content: "";
}
.sessiondetailpage .sessionslot .sessiondate div.room i::after {
  content: "";
}
.sessiondetailpage .sessionslot .sessiondate div i::before {
  display: none;
}

.eventcontentpage .dynamicpage-parks-showrooms .bloctheme:not(.bloc-footer) .dynamicbloc-contentwrapper:not(.bloc-teaser) {
  padding-top: 30px !important;
  padding-bottom: 50px !important;
  margin: 0;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme:not(.bloc-footer) .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header {
  padding-top: 20px;
  /*border-bottom: 1px solid #DDDEDF;*/
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme:not(.bloc-footer) .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header .bloc-title .bloc-accent {
  font-size: 18px;
  font-weight: 500;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme:not(.bloc-footer) .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header .bloc-title .bloctitle {
  /* text-transform: uppercase; */
  font-size: 25px !important;
  font-weight: bold !important;
  border: none !important;
  padding-bottom: 0 !important;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme:not(.bloc-footer) .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header .description {
  opacity: 0.4;
  font-weight: 500;
  font-size: 17px;
  margin-top: 0px !important;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header {
  /*border-bottom: 1px solid #dddedf61 !important;*/
  position: relative;
  width: fit-content;
  padding-bottom: 10px !important;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 2px;
  width: 100px;
  background-image: linear-gradient(135deg, #f7d700, #ff5900, #f5255d);
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme:not(.bloctheme-darkbloc) .bloc-exhibitorslist .inwink-items .exhibitor-item {
  box-shadow: none !important;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme:not(.bloctheme-darkbloc) .bloc-exhibitorslist .inwink-items .exhibitor-item .card {
  background-image: linear-gradient(rgba(247, 215, 0, 0.11), rgba(255, 89, 0, 0.1), rgba(245, 37, 93, 0.11));
  color: #202020 !important;
  border: 3px solid;
  border-image: linear-gradient(rgba(247, 215, 0, 0.5), rgba(255, 89, 0, 0.5), rgba(245, 37, 93, 0.5));
  border-image-slice: 1 !important;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme:not(.bloctheme-darkbloc) .bloc-exhibitorslist .inwink-items .exhibitor-item .card .sessionslot {
  background-color: #ffffff1f;
  display: none;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme:not(.bloctheme-darkbloc) .bloc-exhibitorslist .inwink-items .exhibitor-item .card .inwink-bookmark {
  display: none !important;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme:not(.bloctheme-darkbloc) .bloc-exhibitorslist .inwink-items .exhibitor-item .card .exhibitoritemactions button:after {
  box-shadow: none !important;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme:not(.bloctheme-darkbloc) .bloc-exhibitorslist .inwink-items .exhibitor-item .card .logo {
  padding: 10px !important;
  color: #202020;
  background: white;
  margin: 10px !important;
  max-width: 120px !important;
  min-width: 120px;
  width: 120px !important;
  max-height: 120px !important;
  height: 120px !important;
  border-radius: 3px;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme:not(.bloctheme-darkbloc) .bloc-exhibitorslist .inwink-items .exhibitor-item .card h4, .eventcontentpage .dynamicpage-parks-showrooms .bloctheme:not(.bloctheme-darkbloc) .bloc-exhibitorslist .inwink-items .exhibitor-item .card i:after, .eventcontentpage .dynamicpage-parks-showrooms .bloctheme:not(.bloctheme-darkbloc) .bloc-exhibitorslist .inwink-items .exhibitor-item .card .tag, .eventcontentpage .dynamicpage-parks-showrooms .bloctheme:not(.bloctheme-darkbloc) .bloc-exhibitorslist .inwink-items .exhibitor-item .card p {
  color: #202020 !important;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme:not(.bloctheme-darkbloc) .bloc-exhibitorslist .inwink-items .exhibitor-item .card:hover {
  border-image: linear-gradient(135deg, #f7d700, #ff5900, #f5255d);
  background: linear-gradient(135deg, rgba(247, 215, 0, 0.2), rgba(255, 89, 0, 0.19), rgba(245, 37, 93, 0.18));
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme.bloctheme-darkbloc .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header {
  /*border-bottom: 1px solid #dddedf61 !important;*/
  position: relative;
  width: fit-content;
  padding-bottom: 10px !important;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme.bloctheme-darkbloc .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 2px;
  width: 100px;
  background-image: linear-gradient(135deg, #f7d700, #ff5900, #f5255d);
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme.bloctheme-darkbloc .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header .bloc-title .bloctitle {
  color: white !important;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme.bloctheme-darkbloc .bloc-exhibitorslist .inwink-items .exhibitor-item {
  box-shadow: none !important;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme.bloctheme-darkbloc .bloc-exhibitorslist .inwink-items .exhibitor-item .card {
  background-color: #ffffff1f;
  color: white !important;
  border: 3px solid;
  border-image: linear-gradient(rgba(247, 215, 0, 0.5), rgba(255, 89, 0, 0.5), rgba(245, 37, 93, 0.5));
  border-image-slice: 1 !important;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme.bloctheme-darkbloc .bloc-exhibitorslist .inwink-items .exhibitor-item .card .sessionslot {
  background-color: #ffffff1f;
  display: none;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme.bloctheme-darkbloc .bloc-exhibitorslist .inwink-items .exhibitor-item .card .inwink-bookmark {
  display: none !important;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme.bloctheme-darkbloc .bloc-exhibitorslist .inwink-items .exhibitor-item .card .exhibitoritemactions button:after {
  box-shadow: none !important;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme.bloctheme-darkbloc .bloc-exhibitorslist .inwink-items .exhibitor-item .card .logo {
  padding: 10px !important;
  color: black;
  background: white;
  margin: 10px !important;
  max-width: 120px !important;
  min-width: 120px;
  width: 120px !important;
  max-height: 120px !important;
  height: 120px !important;
  border-radius: 3px;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme.bloctheme-darkbloc .bloc-exhibitorslist .inwink-items .exhibitor-item .card h4, .eventcontentpage .dynamicpage-parks-showrooms .bloctheme.bloctheme-darkbloc .bloc-exhibitorslist .inwink-items .exhibitor-item .card i:after, .eventcontentpage .dynamicpage-parks-showrooms .bloctheme.bloctheme-darkbloc .bloc-exhibitorslist .inwink-items .exhibitor-item .card .tag, .eventcontentpage .dynamicpage-parks-showrooms .bloctheme.bloctheme-darkbloc .bloc-exhibitorslist .inwink-items .exhibitor-item .card p {
  color: white !important;
}
.eventcontentpage .dynamicpage-parks-showrooms .bloctheme.bloctheme-darkbloc .bloc-exhibitorslist .inwink-items .exhibitor-item .card:hover {
  border-image: linear-gradient(135deg, #f7d700, #ff5900, #f5255d);
  background: linear-gradient(135deg, rgba(247, 215, 0, 0.5), rgba(255, 89, 0, 0.5), rgba(245, 37, 93, 0.5));
}
.eventcontentpage .dynamicpage-schedules .bloc-header, .eventcontentpage .dynamicpage-networking-rooms .bloc-header, .eventcontentpage .dynamicpage.withsidebar .bloc-header {
  padding-top: 20px;
  /*border-bottom: 1px solid #DDDEDF;*/
}
.eventcontentpage .dynamicpage-schedules .bloc-header .bloc-title .bloc-accent, .eventcontentpage .dynamicpage-networking-rooms .bloc-header .bloc-title .bloc-accent, .eventcontentpage .dynamicpage.withsidebar .bloc-header .bloc-title .bloc-accent {
  font-size: 18px;
  font-weight: 500;
}
.eventcontentpage .dynamicpage-schedules .bloc-header .bloc-title .bloctitle, .eventcontentpage .dynamicpage-networking-rooms .bloc-header .bloc-title .bloctitle, .eventcontentpage .dynamicpage.withsidebar .bloc-header .bloc-title .bloctitle {
  /* text-transform: uppercase; */
  font-size: 25px;
  font-weight: bold !important;
  border: none !important;
  padding-bottom: 0 !important;
}
.eventcontentpage .dynamicpage-schedules .bloc-header .description, .eventcontentpage .dynamicpage-networking-rooms .bloc-header .description, .eventcontentpage .dynamicpage.withsidebar .bloc-header .description {
  opacity: 0.4;
  font-weight: 500;
  font-size: 17px;
  margin-top: 0px !important;
}
.eventcontentpage .dynamicpage-schedules .bloctheme .dynamicbloc-contentwrapper:not(.bloc-teaser), .eventcontentpage .dynamicpage-networking-rooms .bloctheme .dynamicbloc-contentwrapper:not(.bloc-teaser), .eventcontentpage .dynamicpage.withsidebar .bloctheme .dynamicbloc-contentwrapper:not(.bloc-teaser) {
  padding-top: 30px;
  padding-bottom: 30px;
}
.eventcontentpage .dynamicpage-schedules .bloctheme .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header, .eventcontentpage .dynamicpage-networking-rooms .bloctheme .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header, .eventcontentpage .dynamicpage.withsidebar .bloctheme .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header {
  /*border-bottom: 1px solid #dddedf61 !important;*/
  position: relative;
  width: fit-content;
  margin: auto;
  padding-bottom: 10px !important;
}
.eventcontentpage .dynamicpage-schedules .bloctheme .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header:after, .eventcontentpage .dynamicpage-networking-rooms .bloctheme .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header:after, .eventcontentpage .dynamicpage.withsidebar .bloctheme .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  height: 2px;
  width: 100px;
  background-image: linear-gradient(135deg, #f7d700, #ff5900, #f5255d);
}

.dynamicpage-networking-rooms .dynamicpage-blocscontainer.dynamicpage-maincontent, .dynamicpage-hall-test .dynamicpage-blocscontainer.dynamicpage-maincontent, .dynamicpage.withsidebar .dynamicpage-blocscontainer.dynamicpage-maincontent {
  width: 100% !important;
}
.dynamicpage-networking-rooms .dynamicpage-blocscontainer.dynamicpage-maincontent .bloctheme .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header, .dynamicpage-hall-test .dynamicpage-blocscontainer.dynamicpage-maincontent .bloctheme .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header, .dynamicpage.withsidebar .dynamicpage-blocscontainer.dynamicpage-maincontent .bloctheme .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header {
  margin-left: 0 !important;
}
.dynamicpage-networking-rooms .dynamicpage-blocscontainer.dynamicpage-maincontent .bloctheme .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header:after, .dynamicpage-hall-test .dynamicpage-blocscontainer.dynamicpage-maincontent .bloctheme .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header:after, .dynamicpage.withsidebar .dynamicpage-blocscontainer.dynamicpage-maincontent .bloctheme .dynamicbloc-contentwrapper:not(.bloc-teaser) .bloc-header:after {
  left: 0 !important;
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .eventcontentpage .dynamicpage-parks-showrooms .bloctheme:first-child {
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

/*# sourceMappingURL=vivatechnology.css.map */
