@charset "UTF-8";
/*
*
* DON'T EDIT,
* if you want to customize design, please create a new file.
*
* Style from Valentin Le Mellay
*
* Wanna contact me for a project ?
* --> Feel free to contact me : valentin.lemellay@gmail.com
*
*/
/* COLORS */
/* EFFECTS */
/* Fonts */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* BASICS */
h1 {
  line-height: 1.3;
  font-weight: 900;
}

h2 {
  line-height: 1.2;
  font-weight: 900;
}

h3 {
  line-height: 1.2;
  font-weight: 600;
}

h4 {
  line-height: 1.4;
  font-weight: 800;
}

h5 {
  line-height: 1.3;
  font-weight: 800;
}

h6 {
  line-height: 1.3;
  font-weight: 800;
}

@media screen and (min-width: 1260px) {
  .h1, h1 {
    font-size: 44px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 768px) {
  .h1, h1 {
    font-size: 32px;
  }

  .h2, h2 {
    font-size: 20px;
  }
}
/* NAVS */
.app-header {
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}
.app-header .links-list .iconlink {
  opacity: 0.9;
  font-weight: 400 !important;
}

/* Navs Responsive */
@media screen and (min-width: 850px) {
  .app-header {
    margin: 0px 15px;
    padding: 35px 0;
    margin-top: 15px;
    background-color: white !important;
    color: black !important;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(179, 178, 178, 0.2);
    background-image: url("https://storageprdv2inwink.blob.core.windows.net/d469fa5d-3d3c-ea11-a601-281878303843-public/assets/pictures/logos/logo_vivatech_white.png");
  }
  .app-header.scrolled {
    margin: 0;
  }
  .app-header .app-header-content .pagetitle a img {
    max-height: 50px !important;
  }
}
/* FOOTER */
/* Footer responsive */
@media screen and (max-width: 1024px) {
  .bloc-footer {
    display: none;
  }
}
/* BUTTONS */
button[type=button], a[role=button] {
  padding: 10px 40px;
  font-weight: 700;
  font-size: 12px;
}

/* Inwink buttons */
.inwink-account:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
}

.inwink-search:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  font-size: 23px;
}

.inwink-email {
  border-width: 2px;
}
.inwink-email:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
}

.explore-btn .buttontitle {
  border: none !important;
}
.explore-btn .buttontitle.inwink-chevronsmall-right {
  border: none !important;
}
.explore-btn .buttontitle.inwink-chevronsmall-right:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-size: 23px;
  font-weight: 300;
}

/* Profile */
#ct-myspace .addcontactrequest {
  color: #1d6ff7;
  background-color: transparent !important;
  border: 2px solid #1d6ff7;
}
#ct-myspace .addcontactrequest .text:after {
  top: 24% !important;
}
#ct-myspace .addcontactrequest:after {
  content: "Connect";
  font-size: 10px;
  font-weight: 500;
  top: 20px;
  position: relative;
}
#ct-myspace .addcontactrequest:hover {
  color: #0a50c4;
  border-color: #0a50c4;
}

/* COMPONENTS */
.dynamicbloc-contentwrapper .bloc-globalsearch .search-bar input[type=search] {
  font-size: 20px;
  font-weight: 600;
}

/*# sourceMappingURL=vivatechnology.css.map */
