/* BASICS */

h1, {
  line-height: 1.3;
  font-weight: 900;
}
h2{
  line-height: 1.2;
  font-weight: 900;
}
h3{
  line-height: 1.2;
  font-weight: 600;
}
h4{
  line-height: 1.4;
  font-weight: 800;
}
h5{
  line-height: 1.3;
  font-weight: 800;
}
h6{
  line-height: 1.3;
  font-weight: 800;
}

.bloc-footer{
  .dynamicbloc-wrapper-contentblocs{
    padding-top: 17px;
    .description {
      display: none;
    }
  }
}

#appsplash {
  .splash{
    background-color: transparent !important;
    background:$bigbluegradient;
    background-size: 250% 250%;
    -webkit-animation: gradient 10s ease infinite;
    -moz-animation: gradient 10s ease infinite;
    animation: gradient 10s ease infinite;
    .splashcontent{
      img{
        position: absolute;
      }
      .loaderindicator.ring.big{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .spinner{
          width: 150px;
          height: 150px;
          border-width: 10px !important;
          margin: 0;
        }
      }
    }
  }
}

@-webkit-keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


@-webkit-keyframes movinglass {
  0%{
    left:0;
  }
  50%{
    left:75%;
  }
  100%{
    left:100%;
  }
}
@-moz-keyframes movinglass {
  0%{
    left:0;
  }
  50%{
    left:100%;
  }
  100%{
    left:0;
  }
}
@keyframes movinglass {
  0%{
    left:0;
  }
  50%{
    left:100%;
  }
  100%{
    left:0;
  }
}




@media screen and (min-width: 1260px){
  .h1, h1 {
    font-size: 44px;
    line-height: 1.6;
  }

}

@media screen and (min-width: 768px){
  .h1, h1 {
    font-size: 32px;
  }
  .h2, h2 {
    font-size: 20px;
  }
}
