/* BUTTONS */

button[type="button"], a[role="button"] {
  padding: 10px 40px;
  font-weight: 700;
  font-size: 12px;
}

.bloctheme button.checked, .bloctheme input[type=submit].checked, .bloctheme a[role=button].checked{
  border-radius: 0 !important;
  i.inwink-bookmark{
    &:before{
      font-weight: bold !important;
    }
  }
}

.sociallink i {
  @include normal-transition(.1s);
}

.sociallink.clickable:hover i {
  color: $pink !important;
}

/* Inwink buttons */

.inwink-account:before {
  content: "\f2bd";
  font-family: $fontawesome;
  font-weight: normal;
}
.inwink-search:before {
  content: "\f002";
  font-family: $fontawesome;
  font-weight: normal;
  font-size: 23px;
}
.inwink-email{
  border-width:2px;
  &:before{
    content: "\f0e0";
    font-family: $fontawesome;
  }
}
.inwink-chat{
  &:before{
    content:"\f075";
    font-family: $fontawesome !important;
    /*font-size: 23px;*/
    font-weight: normal;
  }
}
.inwink-bell{
  &:before{
    content: "\f0f3";
    font-family: $fontawesome !important;
    font-size: 23px;
    font-weight: normal;
  }
}
.inwink-web{
  margin-right: 5px !important;
  width: fit-content !important;
  &:before {
    content: "www";
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    border: 2px solid;
    padding: 3px 5px;
    border-radius: 15px;
  }
}

.inwink-placeholder{
  &:before{
    display:none;
  }
  &:after{
    content: '\f3c5';
    font-family: $fontawesome;
    font-weight: bold;
    font-style: normal;
  }
}

.download-icon{
  .inwink-placeholder{
    &:before{
      display:none;
    }
    &:after{
      content: '\f381';
      font-family: $fontawesome;
      font-weight: bold;
      font-style: normal;
    }
  }
}

.inwink-online{
  &:before{
    display:none;
  }
  &:after{
    content: '\f7a2';
    font-family: $fontawesome;
    font-weight: bold;
    font-style: normal;
  }
}

.inwink-youtube{
  &:before{
    content: "\f167";
    font-family: "Font Awesome 5 Brands";
    font-weight: 500;
  }
}



.inwink-group:before {
  content: "\f0c0";
  font-family: $fontawesome !important;
}
.inwink-meeting:before {
  content: "\f63d";
  font-family: $fontawesome;
}

.inwink-calendar:before {
  content: "\f271";
  font-family: $fontawesome;
}

.inwink-networking:before {
  content: "\f78a";
  font-family: $fontawesome;
}


.has-button a[role="button"]{
  &:after{
    content:" more";
  }
  &.opened:after{
    content:" less";
  }
}

.popover-shell.appusermodal.myspace-messages-modal .popover-content .currentdiscussion > .currentdiscussionheader .btnhide, .popover-shell.entitylistmodalfilters .popover-content .modalfilters .btnclose {
  color: #ffffff!important;
  background: #4b4b4b !important;
  border: none !important;
  font-weight: 900 !important;
}

#bl-7115dddf-3799-43f0-957a-28ce816aa58f .description .keywordbubble{
  background-image: $taggradient;
  color:white !important;
  font-weight: 600;
  border-radius:110px;
}
#bl-7115dddf-3799-43f0-957a-28ce816aa58f .description .keywordbubble:before{
  content:"#";
}

/* SHOW ON MAP button */

button.showonmap {
  width: fit-content !important;
  padding: 0;
  background-color: transparent !important;
  border: none !important;
  border-radius: 100px;
  overflow:hidden !important;
  display:inline-block;
  margin-left:10px;
}

button.showonmap .viewonmap-action {
  width: 25px;
  height: 25px;
  position: relative;
  overflow: hidden;
  background: #1d6ff7;
  display: block;
  transition:all .3s ease;
}

button.showonmap .viewonmap-action i{
  line-height: 26px;
  font-weight: 500;
  padding-left: 1px !important;
  transition:all .4s ease-out;
}

button.showonmap .viewonmap-action:after{
  content:"View on map";
  position: absolute;
  opacity: 0;
  font-weight:500;
  width: 80px;
  left: 35px;
  top: 3px;
  transition:all .6s ease;
}

button.showonmap:hover .viewonmap-action{
  background:#0a50c4;
  padding-right:125px;
}

button.showonmap:hover .viewonmap-action:after{
  opacity:1;
}

button.showonmap:hover .viewonmap-action i{
  /*transform:rotate(720deg);*/
  padding-left:7px !important;

}

/* Modal Components */

.appusermessage-header{
  .actions{
    button{
      border: 2px solid $blue !important;
      i{
        &:before{
          font-weight: 800 !important;
        }
      }
    }
  }
}

.dynamicbloc-wrapper .bloc-actions a[role=button].no-link {
  pointer-events: auto !important;
}

.explore-btn{
  .buttontitle{
    border:none !important;
    &.inwink-chevronsmall-right{
      border: none !important;
      &:before{
        content: "\f138";
        font-family: $fontawesome;
        font-size: 23px;
        font-weight: 300;
      }
    }
  }
}
/* Innovations */

.inno-ctas a {
  margin-right: 10px;
  padding: 5px 15px;
  border-radius: 4px;
}


/* Profile */

#ct-myspace{
  .addcontactrequest{
    color: $blue;
    background-color: transparent !important;
    border: 2px solid $blue;
    .text{
      &:after{
        /*top: 24% !important;*/
      }
    }
    &:after{
      content: "Connect";
      font-size: 10px;
      font-weight: 500;
      top: 20px;
      position: relative;
    }
    &:hover{
      color: $darkblue;
      border-color: $darkblue;
    }
  }
}

@media screen and (max-width: 768px){
  .bloc-actions button, .bloc-actions a[role="button"] {
    max-width: 380px;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

