/* BUTTONS */

button[type="button"], a[role="button"] {
  padding: 10px 40px;
  font-weight: 700;
  font-size: 12px;
}

/* Inwink buttons */

.inwink-account:before {
  content: "\f0f3";
  font-family: $fontawesome;
  font-weight: 300;
}
.inwink-search:before {
  content: "\f002";
  font-family: $fontawesome;
  font-weight: 300;
  font-size: 23px;
}
.inwink-email{
  border-width:2px;
  &:before{
    content: "\f0e0";
    font-family: $fontawesome;
  }
}

.has-button a[role="button"]{
  &:after{
    content:" more";
  }
  &.opened:after{
    content:" less";
  }
}

.dynamicbloc-wrapper .bloc-actions a[role=button].no-link {
  pointer-events: auto !important;
}

.explore-btn{
  .buttontitle{
    border:none !important;
    &.inwink-chevronsmall-right{
      border: none !important;
      &:before{
        content: "\f138";
        font-family: $fontawesome;
        font-size: 23px;
        font-weight: 300;
      }
    }
  }
}
/* Innovations */

.inno-ctas a {
  margin-right: 10px;
  padding: 5px 15px;
  border-radius: 4px;
}


/* Profile */

#ct-myspace{
  .addcontactrequest{
    color: $blue;
    background-color: transparent !important;
    border: 2px solid $blue;
    .text{
      &:after{
        top: 24% !important;
      }
    }
    &:after{
      content: "Connect";
      font-size: 10px;
      font-weight: 500;
      top: 20px;
      position: relative;
    }
    &:hover{
      color: $darkblue;
      border-color: $darkblue;
    }
  }
}

@media screen and (max-width: 768px){
  .bloc-actions button, .bloc-actions a[role="button"] {
    max-width: 380px;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

