/* COMPONENTS */

/* Inwink items & cards */

inwink-items, .inwink-items .inwink-item /*, .picturegalleryitem */ {
  border-radius: 5px !important;
  overflow: hidden !important;
  .content-wrapper{
    max-width: 100%;

  }
  .content-wrapper.content-wrapper > * {
    flex: 1;
    min-width: 0;
    text-overflow: ellipsis;
    max-width: 100%;
    *{
      max-width:100%;
      text-overflow: ellipsis !important;
    }
  }
}
.inwink-items .inwink-item .card .requestmeeting {
  display: none;
}

.inwink-item.clickable, contact-item.clickable, .entitylist .inwink-item,.app-page:not(.exhibitordetailpage):not(.sessiondetailpage)  .itemslist.bloc-teaserexhibitors .inwink-item{
  box-shadow: $lilshadow !important;
  @include normal-transition(.1s);
  &:hover{
    box-shadow: $lilshadowhover !important;
  }
}

  /* Items list */

.itemslist {
  button.asyncbtn.requestmeeting{
    display: none;
  }
}

/* Light Grey Block with Gradient */
.bloctheme-duplicate-lightgreybloc-7{
  background-image: $blankgradient !important;
}

/* Primary bloc Color with Gradient Big Blue */
.bloctheme-duplicate-primarycolorbloc-6{
  background-image: $bigbluegradient !important;
}

/*.homepage{
  .dynamicbloc-contentwrapper {
    &#ct-teaserexhibitors, &.bloc-teaserexhibitors {
      .bloc-content {
        .exhibitor-item{
          width: calc(20% - 0px);
        }
      }
    }
  }
}*/

.dynamicbloc-contentwrapper:not(#ct-e352c39c-02d4-4062-fc86-474d372210e1):not(.ct-f0bdb15b-5466-477d-dcc0-11e281decc15){
  &#ct-teaserexhibitors,&.bloc-teaserexhibitors{
    .bloc-content{
      background-color: transparent !important;
      box-shadow: none !important;
      padding: 0 !important;
      margin-top: 0px;
      .exhibitor-item{
        box-shadow: none;
        margin:0 !important;
        padding: 10px;
        overflow: visible !important;
        &:first-child{
          padding-left: 0 !important;
        }
        &:last-child{
          padding-right: 0 !important;
        }
        a.itemcontent{
          @include normal-transition;
          height: 180px;
          box-shadow: $lilshadow;
          background-color: $white;
          display: flex;
          .logo{
            height: 80px !important;
            .logo-photo{
              max-height:100px !important;
            }
          }
        }
        &:hover{
          a.itemcontent{
            box-shadow: $lilshadowhover !important;
          }
        }

      }
    }
  }


  &.bloc-globalsearch {
    .search-bar {
      input[type=search]{
        font-size:22px;
        font-weight: 600;
      }
    }
  }
}
.bloctheme:not(.bloc-footer){
  .bloc-teasereventinfos{
    text-align: center;
    .inwink-item{
      flex-direction: column;
      box-shadow: $lilshadow !important;
      background-color: $white;
      .detail{
        flex-direction: column;
        display: flex;
        justify-content: center;
        margin-top: 21px;
        margin-bottom: 16px;
        h4{
          font-size:20px;
          text-transform: uppercase;
        }
      }
      &:before{
        color: $pink !important;
        text-transform: lowercase !important;
        font-size: 14px !important;
        position: absolute !important;
        top: 9px !important;
        display: block;
        width: 100%;
        margin: auto;
      }
      &:hover{
        box-shadow: $lilshadowhover !important;
      }
    }
  }
  .picturegalleryitem{
    box-shadow: $lilshadow;
    .player {
      //background: transparent !important;
      width: 55px !important;
      height: 55px !important;
      box-shadow: none !important;
      z-index: 1;
      opacity: 1 !important;
      background: #000000b0 !important;
      i::before {
        content: "\f144" !important;
        color: white !important;
        font-family: $fontawesome;
        font-weight: bold;
        font-size: 60px;
        text-shadow: 0px 0px 8px #00000024;
      }
    }
    .title-layer {
      background: #0000004f !important;
      font-weight: 600;
      font-size: 18px;
      span{
        position: absolute;
        bottom: 5px;

      }
    }
  }

}

.blocpicturegaleryfull{
    .blocpicturegaleryfull-wrapper{
      button{
        background: transparent !important;
        border:none !important;
      }
      .blocpicturegaleryfull-close i::before {
        content: "\f2ee" !important;
        font-family: $fontawesome;
        font-weight: bold;
        font-size: 35px;
        position: relative;
        right: 20px;
        transform: rotate(90deg);
      }
      .blocpicturegaleryfull-content{
        .description-panel{
          h2{
            color:$white !important;
            font-size: 35px;
          }
          .description{
            font-size: 16px;
          }
        }
        .btnnav{
          background: transparent !important;
          border: none !important;
          &.btnprevious{
            i:before{

            }
          }
          &.btnnext{
            i:before{

            }
          }
        }
      }

  }
}

/* RESPONSIVE COMPONENT*/

@media screen and (min-width:601px){
  .exhibitordetailpage .dynamicbloc-contentwrapper {
    margin-top: 0 !important;
    margin-bottom: 30px !important;
  }
}