/* COMPONENTS */

.dynamicbloc-contentwrapper{

  &#ct-teaserexhibitors,&.bloc-teaserexhibitors{
    .bloc-content{
      background-color: transparent !important;
      box-shadow: none !important;
      padding: 0 !important;
      margin-top: 0px;
      .exhibitor-item{
        box-shadow: none;
        width: calc(20% - 0px);
        margin:0 !important;
        padding: 10px;
        a.itemcontent{
          @include normal-transition;
          height: 160px;
          box-shadow: $lilshadow;
          background-color: $white;
          display: flex;
          .logo{
            height: 80px !important;
            .logo-photo{
              max-height:100px !important;
            }
          }
        }
        &:hover{
          a.itemcontent{
            box-shadow: $lilshadowhover;
          }
        }

      }
    }
  }


  &.bloc-globalsearch {
    .search-bar {
      input[type=search]{
        font-size:22px;
        font-weight: 600;
      }
    }
  }
}