/* COMPONENTS */

/* Light Grey Block with Gradient */
.bloctheme-duplicate-lightgreybloc-7{
  background-image: $blankgradient !important;
}

/* Primary bloc Color with Gradient Big Blue */
.bloctheme-duplicate-primarycolorbloc-6{
  background-image: $bigbluegradient !important;
}

.dynamicbloc-contentwrapper{
  &#ct-teaserexhibitors,&.bloc-teaserexhibitors{
    .bloc-content{
      background-color: transparent !important;
      box-shadow: none !important;
      padding: 0 !important;
      margin-top: 0px;
      .exhibitor-item{
        box-shadow: none;
        width: calc(20% - 0px);
        margin:0 !important;
        padding: 10px;
        &:first-child{
          padding-left: 0 !important;
        }
        &:last-child{
          padding-right: 0 !important;
        }
        a.itemcontent{
          @include normal-transition;
          height: 180px;
          box-shadow: $lilshadow;
          background-color: $white;
          display: flex;
          .logo{
            height: 80px !important;
            .logo-photo{
              max-height:100px !important;
            }
          }
        }
        &:hover{
          a.itemcontent{
            box-shadow: $lilshadowhover;
          }
        }

      }
    }
  }


  &.bloc-globalsearch {
    .search-bar {
      input[type=search]{
        font-size:22px;
        font-weight: 600;
      }
    }
  }

  .bloctheme:not(.bloc-footer){
    &.bloc-teasereventinfos{
      text-align: center;
      .inwink-item{
        flex-direction: column;
        box-shadow: $lilshadow !important;
        background-color: $white;
        .detail{
          flex-direction: column;
          display: flex;
          justify-content: center;
          margin-top: 16px;
          margin-bottom: 16px;
          h4{
            font-size:20px;
            text-transform: uppercase;
          }
        }
        &:before{
          color: $pink;
          text-transform: lowercase;
          font-size: 14px;
          position: absolute;
          top: 23px;
          display: block;
          width: 100%;
          margin: auto;
        }
        &:hover{
          box-shadow: $lilshadowhover !important;
        }
      }
    }
  }

}