.currentdiscussion{
  .discussion-messages{
    .discussion-message{
      .message-sendername{
        color: $blackText;
        font-weight: 500 !important;
      }
      &.sended{
        .message-text{
          background: $blue !important;
          border: none !important;
          color: $white !important;
        }
      }
      .received{

      }
      .message-date {
        color: $greyText;
        font-weight: 500;
      }
    }
  }
  .discussion-sendmessage{
    .actions-toolbar{
      > button{
        border-radius: 100%;
        width: 35px;
        height: 35px;
        font-weight: 900 !important;
      }
      > span:not(.btnsend-container){
        button{
          border-radius: 100%;
          width: 35px;
          height: 35px;
          font-weight: 900 !important;
        }
      }
      button.btnsend {
        font-size: 15px;
        font-weight: 600;
        padding: 0px 30px !important;
        border-radius: 2px;
      }
    }
    .message{
      .textarea-container{
        textarea{
          background: #f1f1f1;
          border: none;
          margin-bottom: 10px;
          border-radius: 10px;
        }
      }
    }
  }
}