/* MIXINS */

@mixin normal-transition($time : .2s){
  transition: all $time ease !important;
  -webkit-transition: all $time ease !important;
  -moz-transition: all $time ease !important;
  -o-transition: all $time ease !important;
}

/* KEYFRAMES */

