/* NAVS */

.app-header{
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  .links-list{
    .iconlink{
      opacity: 0.9;
      font-weight: 400 !important;
    }
  }
}


/* Navs Responsive */

@media screen and (min-width: 850px){
  .app-header {
    margin: 0px 15px;
    padding: 35px 0;
    margin-top: 15px;
    background-color: white !important;
    color: black !important;
    text-transform: uppercase;
    border-bottom: 1px solid hsla(0,1%,70%,.2);

    &.scrolled {
      margin: 0;
    }
  }
}