/* NAVS */

.app-header{
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;

}


/* Navs Responsive */

@media screen and (min-width: 850px){
  #burger-menu{
    color: $black !important;
    top: 21px;
    left: 15px;
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    &.scrolled{
      top: 6px;
      left: 0px;
    }
  }
  .app-header {
    margin: 0px 15px;
    padding: 35px 0;
    margin-top: 15px;
    background-color: white !important;
    color: black !important;
    text-transform: uppercase;
    border-bottom: 1px solid hsla(0,1%,70%,.2);

    background-image: url('https://storageprdv2inwink.blob.core.windows.net/d469fa5d-3d3c-ea11-a601-281878303843-public/assets/pictures/logos/logo_vivatech_white.png');

    &.scrolled {
      margin: 0;
    }

    .app-header-content{
      .pagetitle{
        a{
          img{
            max-height: 50px !important;
          }
        }
      }

      .links-list{
        .iconlink{
          opacity: 0.9;
          font-weight: 600 !important;
          position: relative;
          &:after{
            content: "";
            position: absolute;
            bottom: -6px;
            width: 0%;
            background-image: linear-gradient(90deg, $yellow, $orange, $pink);
            height: 3px;
            transition: all .2s ease;
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -o-transition: all .2s ease;
          }

          &:hover{
            &:after{
              width: 100%;
            }
          }
          &:last-child{
            &:after{
              display: none;
            }
          }

        }
      }

      .notif-content{
        .messages{
          color: $black !important;
        }
      }
    }

  }

}