/* NAVS */


/* Navs Responsive */

@media screen and (min-width: 850px){
  .app-header {
    margin: 0px 15px;
    padding: 35px 0;
    margin-top: 15px;
    background-color: white !important;
    color: black !important;
    text-transform: uppercase;
    border-bottom: 1px solid hsla(0,1%,70%,.2);

    &.scrolled{

    }
  }
}