.eventcontentpage{
  .dynamicpage-parks-showrooms{
    .bloctheme:not(.bloc-footer){
      .dynamicbloc-contentwrapper:not(.bloc-teaser){
        padding-top: 30px !important;
        padding-bottom: 50px !important;
        margin:0;
        .bloc-header{
          padding-top: 20px;
          border-bottom: 1px solid #DDDEDF;
          .bloc-title{
            .bloc-accent{
              font-size: 18px;
              font-weight: 500;
            }
            .bloctitle{
              /* text-transform: uppercase; */
              font-size: 25px;
              font-weight: bold !important;
              //color: $blackText !important;
              border: none !important;
              padding-bottom: 0 !important;
            }
          }
          .description{
            //color:$black !important;
            opacity: 0.4;
            font-weight: 500;
            font-size: 17px;
            margin-top: 0px !important;
          }
        }
      }
    }
    .bloctheme.bloctheme-darkbloc{
      .dynamicbloc-contentwrapper:not(.bloc-teaser){
        .bloc-header{
          border-bottom: 1px solid #dddedf61 !important;
          padding-bottom: 10px !important;
          .bloc-title{
            .bloctitle{
              color: $white !important;
            }
          }
        }
        .bloc-exhibitorslist{
          .inwink-items{
            .exhibitor-item{
              box-shadow:none !important;
              .card{
                background-color: #ffffff1f;
                color: white !important;
                border: 3px solid;
                border-image: linear-gradient(rgb(247 215 0 / 50%), rgb(255 89 0 / 50%), rgb(245 37 93 / 50%));
                border-image-slice: 1;
                @include normal-transition;
                .sessionslot{
                  background-color: #ffffff1f;
                  display: none;
                }
                .exhibitoritemactions button:after{
                  box-shadow: none;
                }
                .logo{
                  display: flex;
                  flex: 1;
                  align-items: center;
                  padding: 10px;
                  color: black;
                  background: white;
                  margin: 10px !important;
                  max-width: 120px;
                  min-width: 120px;
                  width: 120px !important;
                  max-height: 120px;
                  height: 120px !important;
                  border-radius: 3px;
                }
                h4,i,.tag,p{
                  color:white !important;
                }

                &:hover{
                  border-image:$gradient;
                  background: linear-gradient(135deg, rgb(247 215 0 / 50%), rgb(255 89 0 / 50%), rgb(245 37 93 / 50%));
                }

              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px){
  .eventcontentpage {
    .dynamicpage-parks-showrooms {
      .bloctheme:first-child {
        margin-top: 18px;
        margin-bottom: 18px;
      }
    }
  }
}
