/* Partners PAGE */

.exhibitordetailpage{

  .bloc-entitydetail{

    .partner-header{

      display: flex;

      span.overlay-partner-header{
        position: absolute;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.87) 50%, rgba(0, 0, 0, 0.2));
        width: 100vw;
        height: 112%;
        left: 50%;
        transform: translatex(-50%);
        top: -16px;
        background-size: cover;
        flex-basis: 100%;
        z-index: -1;
      }

      span.background-partner-header{
        position: absolute;
        width: 100vw;
        background-position: center center;
        height: 110%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
        z-index: -2;
      }

      .wrapper{
        display: flex;
        flex-flow: wrap;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        &.wrapper-content{
          flex: 9;
          display: flex;
          flex-direction: column;
          align-items: end;

          .logo {
            width: 180px;
            height: 180px;
            margin: 0;
            margin-right: 30px;
          }
          .title{
            .sessiontype-exhibitor{
              display:flex;
              align-items: center;
              padding-top: 20px;
              > * {
                margin-right: 20px;
                margin-bottom: 0;
              }
              .sociallinks {
                justify-content: flex-start;
                width: fit-content;
                margin-top: 0;
                .sociallink.clickable .icon {
                  color: black !important;
                  background: white !important;
                  width: 26px;
                  height: 26px;
                  font-size: 16px;
                  padding: 0;
                }
              }
            }
            h1{
              display: none;
              margin-bottom: 30px;
            }
            .sessiondate{

            }
            .tagslist{
              .tag{
                background-image:$gradient;
                color: white;
                font-weight: 800;
                margin-top: 10px;
                margin-right: 10px;
              }
            }
          }
          .description{
            max-width: 630px;
            p.content{
              font-size: 15px;
              font-weight: 500;
            }
          }
          .practical-infos{
            .room{
              width: fit-content;
              padding: 3px 32px;
              background: $white;
              color: $black;
              font-size: 17px;
              border-radius: 4px;
              font-weight: 700;
              i{
                position: relative;
                left: -16px;
                &:before{
                  content:"\f5a0";
                  font-family: $fontawesome;
                }
              }
              .location{

              }
            }
          }
          .moreinfo-wrapper{
            display: none;
          }
        }
        &.wrapper-actions{
          flex: 2;
          display: flex;
          align-content: center;
          *{
            width:100%;
          }
          .map{
            .showonmap{
              height: 46px;
              display: flex;
              align-items: center;
              .title-content{
                text-align: center;
                i,p{
                  width: fit-content;
                  display: inline-block;
                  margin-right: 10px;
                }
              }
            }
          }
        }

      }


    }
  }
}

