/* Partners PAGE */

.exhibitordetailpage,.sessiondetailpage{
  /* Partner's Header */
  .bloc-entitydetail{

    .logo {
      width: 180px;
      height: 140px;
      background: white;
      margin: 0;
      margin-right: 30px;
      margin-top: 20px;
      padding: 10px !important;
      .logo-photo {
        position: unset !important;
      }
    }

    .partner-header:not(.startup-header):not(.innovation-header){
      .wrapper.wrapper-content > .title .sessiontype-exhibitor .tagslist .tag:before{
        content: "\f1ad";
        font-family: $fontawesome;
        margin-right: 5px;
      }
    }

    .partner-header{

      display: flex;

      .partner-type {
        background: #202020;
        color: white;
        padding: 1px 8px;
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        width: fit-content;
        margin-bottom: 10px;
      }

      span.overlay-partner-header{
        position: absolute;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.87) 33%, rgb(0 0 0 / 70%) 66%, rgba(0, 0, 0, 0.2));
        width: 102vw;
        height: 112%;
        left: 50%;
        transform: translatex(-50%);
        top: -16px;
        background-size: cover;
        flex-basis: 100%;
        z-index: -1;
      }

      span.background-partner-header{
        position: absolute;
        width: 100vw;
        background-position: center center;
        height: 112%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
        z-index: -2;
      }


            .tagslist.day {
              margin-bottom: 0 !important;
              .tag.keywordbubble.clickable {
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                background-color: transparent;
                color: $white;
                width: 60px;;
                /*height: 50px;*/
                height: auto;
                border-radius: 0;
                padding: 0;
                padding-top: 13px;
                margin-right: 12px;
                text-align: center;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 500;
                background: transparent;
                /*background-image: url("https://storageprdv2inwink.blob.core.windows.net/d469fa5d-3d3c-ea11-a601-281878303843-public/assets/pictures/Vector.png");*/

                &:before{
                  content: "";
                  /*display: block;
                  font-size: 20px;
                  position: relative;
                  top: -9px;
                  font-weight: bold;*/
                  display: block;
                  font-size: 35px;
                  position: relative;
                  top: 0px;
                  font-weight: bold;
                  line-height: 23px;
                }

                &.day-Wed:before {
                  content: "16";
                }
                &.day-Thu:before {
                  content: "17";
                }
                &.day-Fri:before {
                  content: "18";
                }
                &.day-Sat:before {
                  content: "19";
                }


              }
            }

      .wrapper{
        display: flex;
        flex-flow: wrap;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 40px;
        &.wrapper-content{
          flex: 9;
          display: flex;
          flex-direction: column;
          align-items: end;

          > .title{
            .sessiontype-exhibitor{
              .tagslist{
                padding-top: 5px;
                .tag{
                  /*background-image:$gradient;
                  color: white;
                  font-weight: 800;
                  margin-top: 10px;
                  margin-right: 10px;*/

                  background: transparent;
                  color: white;
                  padding-left: 0;
                  padding-bottom: 0;
                  font-size: 17px;


                }
              }
            }
          }
          .title{
            .sessiontype-exhibitor{
              display:flex;
              align-items: center;
              padding-top: 20px;
              > * {
                margin-right: 20px;
                margin-bottom: 0;
              }
              .sociallinks {
                justify-content: flex-start;
                width: fit-content;
                margin-top: 0;
                .sociallink:first-child{
                  /*display: none;*/
                }
                .sociallink.clickable .icon {
                  color: black !important;
                  background: white !important;
                  width: 26px;
                  height: 26px;
                  font-size: 16px;
                  padding: 0;
                }
                .sociallink.clickable:hover i {
                  color: $pink !important;
                }
              }
            }
            h1{
              display: none;
              margin-bottom: 30px;
            }
            .sessiondate{

            }

          }
          .description{
            max-width: 630px;
            p.content{
              font-size: 15px;
              font-weight: 500;
            }
          }
          .practical-infos{
            display: inline-flex;
            align-items: center;
            .room{
              width: fit-content;
              height: fit-content;
              margin-right: 10px;
              padding: 3px 32px;
              background: $white;
              color: $black;
              font-size: 17px;
              border-radius: 4px;
              font-weight: 700;
              i{
                position: relative;
                left: -16px;
                &:before{
                  content:"\f5a0";
                  font-family: $fontawesome;
                }
              }
              .location{

              }
            }
          }
          .moreinfo-wrapper{
            display: none;
          }
        }
        &.wrapper-actions{
          flex: 2;
          display: flex;
          align-content: center;
          .entity-actions{
            margin-bottom: 0px !important;
          }
          *:not(.spinner){
            width:100%;
          }
          button{
            margin-bottom: 10px;
            .text{
              display: flex;
              align-items: center;
              i{
                flex: 1;
                font-family: $fontawesome !important;
                &.inwink-bookmark{
                  &:before{
                    content: "\f005";
                  }
                }
                &.inwink-calendar{
                  &:before{
                    content: "\f271";
                    font-size: 16px;
                  }
                }
                &.inwink-chat{
                  &:before{
                    content: "\f086";
                    font-size: 16px;
                  }
                }
              }
            }
          }
          .map{
            .showonmap{
              height: 42px;
              font-size: 12px;
              display: flex;
              align-items: center;
              .title-content{
                text-align: center;
                i,p{
                  width: fit-content;
                  display: inline-block;
                  margin-right: 10px;
                }
              }
            }
          }
        }
        .partner-themes{
          > .tagslist-items{
            margin-top: 15px;
            .tag{
              background-image: $taggradient;
              color: white;
              font-weight: 800;
              margin-right: 10px;

              &:before{
                content: "#";
                font-weight: 500;
              }
            }
          }
        }

      }

      .practical-infos{
        /*display: none !important;*/
      }
      .infos-container {
        display: flex !important;
      }
    }

    .partner-header:not(.innovation-header):not(.startup-header){
      .wrapper.wrapper-content .title .sessiontype-exhibitor .sociallinks .sociallink.clickable .icon{
        color: white !important;
        background: transparent !important;
      }
      .wrapper.wrapper-content .title .sessiontype-exhibitor .sociallinks .sociallink.clickable:hover .icon{
        color: $pink !important;
      }
    }

    .innovation-header{
      align-items: center;
      .sessiontype-exhibitor{
        padding-top: 0 !important;
        .date{
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
      .wrapper.wrapper-content .title h1{
        display: block;
        font-size: 40px;
        color: black;
        margin-bottom: 0 !important;
        margin-top: 50px;
      }
      .logo{
        flex: 1 !important;
        height: 360px;
        overflow: visible;
        align-self: center;
        margin-left: 70px;

        .logo-photo {
          background-size: contain;
          min-height: 280px !important;
          position: relative !important;
        }
      }
      .partner-themes{
        .tagslist-items{
          display:flex !important;
        }
      }
      .wrapper-content{
        flex:3 !important;
        .practical-infos {
          .room{
            width: fit-content;
            margin-right: 10px;
            padding: 3px 24px;
            background: $grey !important;
            box-shadow: $lilshadow;
            font-size: 17px;
            border-radius: 4px;
            font-weight: 700;
          }

        }
        .sessiontype-exhibitor{
          .sessionslot{
            .sessiondate{
              .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable {
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                background-color: transparent;
                color: black;
                width: 60px;;
                height: auto;
                border-radius: 0;
                padding: 0;
                padding-top: 13px;
                margin-right: 5px;
                text-align: center;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 500;
                background: transparent;
                /*background-image: url("https://storageprdv2inwink.blob.core.windows.net/d469fa5d-3d3c-ea11-a601-281878303843-public/assets/pictures/Vectorwed_black.png");*/

                &:before{
                  content: "";
                  /*display: block;
                  font-size: 20px;
                  position: relative;
                  top: -9px;
                  font-weight: bold;*/
                  display: block;
                  font-size: 35px;
                  position: relative;
                  top: 0px;
                  font-weight: bold;
                  line-height: 23px;
                }

                &.day-Wed:before {
                  content: "16";
                }
                &.day-Thu:before {
                  content: "17";
                }
                &.day-Fri:before {
                  content: "18";
                }
                &.day-Sat:before {
                  content: "19";
                }


              }
            }
          }
        }
      }
      .wrapper-actions{
        flex: 1 !important;
        .entity-actions{

        }
      }
    }

    .startup-header{
      .logo{
        flex: 1 !important;
        height: 300px !important;
      }
      .sociallinks{
        .sociallink:first-child{
          /*display: none;*/
        }
      }
      .wrapper-content{
        flex:1 !important;
        .practical-infos {
          .room{
            width: fit-content;
            margin-right: 10px;
            padding: 3px 24px;
            background: $grey !important;
            box-shadow: $lilshadow;
            font-size: 17px;
            border-radius: 4px;
            font-weight: 700;
          }

        }
        .sessiontype-exhibitor{
          .sessionslot{
            .sessiondate{
              .tagslist.day .tag.bloc-lightbg.keywordbubble.tag.bloc-lightbg.keywordbubble.clickable {
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                background-color: transparent;
                color: black;
                width: 36px;
                margin-right: 24px !important;
                height: auto;
                border-radius: 0;
                padding: 0;
                padding-top: 13px;
                margin-right: 5px;
                text-align: center;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 500;
                background: transparent;
                /*background-image: url("https://storageprdv2inwink.blob.core.windows.net/d469fa5d-3d3c-ea11-a601-281878303843-public/assets/pictures/Vectorwed_black.png");*/

                &:before{
                  content: "";
                 /* display: block;
                  font-size: 20px;
                  position: relative;
                  top: -9px;
                  font-weight: bold;*/
                  display: block;
                  font-size: 35px;
                  position: relative;
                  top: 0px;
                  font-weight: bold;
                  line-height: 23px;
                }

                &.day-Wed:before {
                  content: "16";
                }
                &.day-Thu:before {
                  content: "17";
                }
                &.day-Fri:before {
                  content: "18";
                }
                &.day-Sat:before {
                  content: "19";
                }


              }
            }
          }
        }
      }
      .wrapper-actions{
        flex: 1 !important;
        justify-content: flex-end;
        .entity-actions{
          padding-left: 30px;
          max-width: 290px;
        }
        .practical-infos{
          padding-left: 30px;
          max-width: 290px;
        }

      }
      @media screen and (max-width:768px) {
        .wrapper-actions{
          justify-content: center;
        }
        .practical-infos{
          padding-left:initial;
          max-width: unset;
        }
      }

    }

  }
  .bloctheme:not(.bloc-footer){
    header.bloc-header{
      padding-top: 20px;
      padding-bottom: 10px;
      position: relative;
      width: fit-content;
      &:after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100px;
        background-image: linear-gradient(135deg, #F7D700, #FF5900, #F5255D);
      }
      //border-bottom: 1px solid #DDDEDF;
      h2.bloc-title{
        .bloc-accent{
          font-size: 18px;
          font-weight: 500;
        }
        .bloctitle{
          text-transform: uppercase;
          font-size: 25px;
          color: $blackText !important;
          border: none !important;
          padding-bottom: 0 !important;
        }
      }
      .description{
        color:$black !important;
        opacity: 0.4;
        font-weight: 500;
        font-size: 17px;
        margin-top: 0px !important;
      }
    }
  }
}
/* LISTS PARTNERS */
@media screen and (min-width:601px){
  .entitylistpage #ct-exhibitorsearch .bloc-header,
  .entitylistpage #ct-70d18f07-9243-4dd5-f38c-fbd7e750c611 .bloc-header,
  .entitylistpage #ct-sessionssearch .bloc-header,
  .entitylistpage #ct-speakersearch .bloc-header,
  .entitylistpage #ct-d7d9fefa-2e38-4382-902d-9b1e8a859fce .bloc-header{
    height: fit-content;
    padding: 10px;
    padding-top: 12px;
    background: white;
    box-shadow: $lilshadow;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    h2.bloc-title {
      padding: 0 10px;
    }
  }
  .entitylistpage .dynamicbloc-wrapper .dynamicbloc-contentwrapper.entitylist {
    overflow: visible !important;
    margin-top: 0 !important;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  .entitylistpage .dynamicbloc-wrapper{
    overflow: visible !important;
  }
}

/* RESPONSIVE Partner's page */

@media screen and (min-width:601px){
  .innovation-header{
    .wrapper-actions{
      .entity-actions{
        padding-left: 30px;
      }
    }
  }
}
@media screen and (max-width:768px) {
  .exhibitordetailpage .bloc-entitydetail .logo{
    margin:auto !important;
  }
  .exhibitordetailpage .bloc-entitydetail .partner-themes{
    .title{
      align-self: center !important;
    }
    .description{
      text-align: center !important;
    }
    .partner-themes{
      align-self: center !important;
    }
  }
  .exhibitordetailpage .bloc-entitydetail .partner-header .practical-infos{
    display: flex;
    flex-direction: column;
    align-self: center;
    .room{
      margin-bottom: 8px;
    }
  }
}
@media screen and (max-width:768px){
  .exhibitordetailpage .bloc-entitydetail .partner-header {
    display: flex;
    flex-direction: column;
  }
  .exhibitordetailpage .bloc-entitydetail .innovation-header .logo{
    width:380px !important;
  }
}
@media screen and (max-width: 768px){
  .exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content{
    align-items: center;
    text-align: center;
  }
  .partner-header .sessiontype-exhibitor.sessiontype-exhibitor {
    flex-direction: column;
  }
  .exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .logo{
    margin-right: 0;
  }
  .exhibitordetailpage .bloc-entitydetail .partner-header .wrapper.wrapper-content .title .sessiontype-exhibitor > *{
    margin-right: 0;
  }
  .exhibitordetailpage .bloc-teaser .bloc-singletext{
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
    flex-direction: column !important;
    padding-left: 0 !important;
    padding: 20px 0 !important;
  }
}

.exhibitordetailpage{
  .download-icon{
    .inwink-placeholder{
      &:after{
        font-size: 20px;
        color: $blue;
        @include normal-transition(.1s);
      }
    }
    &:hover{
      .inwink-placeholder{
        &:after{
          color: $darkblue;
        }
      }
    }
  }
}

